<template>
    <div class="">
        <b-form @submit.prevent="submit">
            <b-form-group>
                <b-form-input v-model="form.email" placeholder="email"></b-form-input>
                <b-form-input v-model="form.password" placeholder="password"></b-form-input>
                <div class="mt-3">
                    <b-button type="submit">Submit</b-button>
                </div>
            </b-form-group>
        </b-form>
    </div>
</template>

<script>
import { BForm, BButton, BFormGroup, BFormInput } from 'bootstrap-vue';
import axios from "axios";

export default{
    components: {
      BForm,
      BButton,
      BFormGroup,
      BFormInput
    },
    data: () => ({
        form: {
            email: null,
            password: null,
        }
    }),
    created() {
    },
    methods: {
        submit() {
            axios.post('/api/teacher-login', this.form).then(res => {
                console.log("res", res.data)
            }).catch( err => {
                console.log(err.response);
            })
        }
    }
}
</script>