<template>
    <div class="login_bg">
        <div class="login_wrapper">
            <div class="large_light_text mb-3"> Сообщить об ошибке</div>
            <div class="w-100 h-100 ">
                <textarea id="message" v-model="problem" class="w-100 h-100 error_input p-3" ></textarea>
                <p class="done_block" style="width: 100% !important;" v-if="isSend"> Отправлено </p>
            </div>
            <div class="mt-2 flex justify-content-center">
                <button class="teachers_button teacher_cancel mr-2" @click="back"> Вернуться назад</button>
                <button class="teachers_button" type="submit" @click="sendEmail"> Отправить </button>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";

  export default {
    components: {
      axios
    },
    data() {
      return {
        problem: '',
        isSend: false
      };
    },
    methods: {
        back() {    
            this.$router.push('/login');
        },
        sendEmail() {
            axios.post(window.location.origin + '/send-problem', {
                    problem: this.problem
                })
                .then(response => {
                    this.problem = '';
                    this.isSend = true;
                })
                .catch(error => {
                    console.log('error');
                });
        }
    }
  };
  </script>

<style src="./../../../css/app.css" scoped></style>

<style>
.error_input {
    border: 1px solid aliceblue;
    border-radius: 10px;
}
.done_block {

}
</style>
  