<template>
  <div class="not_found_wrapper">
    <div class="large_text mb-5">404 Not Found</div>
    <p class="normal_text">The page you are looking for does not exist.</p>
  </div>
</template>

<style>
.not_found_wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
</style>