<template>
    <div>
      <Nav />
      <div class="container_childs min-vh-90 max-content">
        <div class="childs_no_data" v-if="childs.length == 0">
          <div class="teachers_excel">
            <div class="teachers_empty_title"> Пока нет ни одного ребенка </div>
            <div style="display: flex">
                <form @submit.prevent="importChildren" class="flex align-items-center normal_sm_text">
                  <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" class="input_excel p-2" required/>
                  <button type="submit" class="childs_import_excel"> 
                    <div class="icon_excel"></div>
                    Импортировать
                  </button>
                </form>
            </div>
          </div>
        </div>
        <div class="childs" v-else>
          <div class="childs_header">
            <div class="normal_title"> Дети </div>
            <div class="childs_functions">
              <form @submit.prevent="importChildren" class="flex align-items-center normal_sm_text">
                <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" class="input_excel p-2" required/>
                <button type="submit" class="childs_import_excel"> 
                  <div class="icon_excel"></div>
                  Импортировать
                </button>
              </form>
              <div class="mr-2">
                  <p class="errors_block" style="width: 100% !important;" v-if="errorExcel"> {{ errorExcel }}</p>
                </div>
              <div class="childs_export_excel" @click="exportChildren()">
                <div class="icon_excel"></div>
                <div class=""> Экспорт в Excel </div>
              </div>
              <div class="childs_add flex align-items-center" @click="addButton()">
                <div class="icon_plus"></div>
                <div class=""> Добавить </div>
              </div>
              <div class="childs_edited flex align-items-center" @click="editButton()" v-if="!isEdited">
                <div class="icon_edit"></div>
                <div class=""> Редактировать </div>
              </div>
              <div class="childs_add flex align-items-center" @click="saveButton()" v-if="isEdited">
                <div class="" style="padding: 2px 10px;"> Сохранить </div>
              </div>
            </div>
          </div>
          <div class="childs_panel">
            <b-form-input
              class="childs_search"
              v-model="filter"
              type="search"
              placeholder="Поиск"
            ></b-form-input>
            <b-pagination
              class="childs_pagination"
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              aria-controls="my-table"
              hide-goto-end-buttons
              hide-ellipsis
              last-number
            ></b-pagination>
          </div>
          <div class="childs_table_wrapper">
            <b-table 
              :per-page="perPage"
              :current-page="currentPage"
              :filter="filter" 
              :items="childs" 
              :fields="fields"
              @row-clicked="handleRowDoubleClick"
            >
              <template v-slot:cell(index)="data">
                {{ data.index + 1 }}
              </template>
              <template v-slot:cell(remove)="data">
                <div @click=removeChild(data) class="icon_remove" > </div>
              </template>
            </b-table>
          </div>
          <div class="teachers_mobile_popup" v-if="isEditedChild">
              <form @submit.prevent="saveChildInfo" class="teachers_mobile_popup_wrapper pb-2">
                <div class="teachers_add_mobile_header">
                    <div class="teachers_add_mobile_title p-4"> Изменить данные ребенка </div>
                    <div class="icon_close" @click="closeMobile()"></div>
                </div>
                <div class="flex wrap align-items-space-evenly m-3 justify-content-center">
                  <div class="group_edit_block  text-align-center">
                      <div > ФИО </div> 
                      <input type="text" v-model="editedChild.name" required>
                  </div>
                  <div class="group_edit_block  text-align-center">
                      <div > ИИН </div> 
                      <input type="text" v-model="editedChild.iin" required>
                      <p class="errors_block" style="width: 100%;" v-if="errorsEditChild['iin']"> {{ errorsEditChild['iin'] }}</p> 
                  </div>
                  <div class="group_edit_block  text-align-center">
                      <div > Пол</div> 
                      <select @change.capture="selectGender($event)" required v-model="editedGender">
                      <option :value="null">  Выберите пол  </option>
                        <option v-for="(gen , k)  in (gender)" :key="k" :value="gen.id" style="padding: 5px"> {{gen.gender}} </option>
                      </select>
                  </div>
                  <div class="group_edit_block  text-align-center">
                    <div > Группа </div> 
                    <select @change.capture="selectGroup($event)" required v-model="editedChild.group">
                      <option :value="null"> Без группы </option>
                      <option v-for="(group , k)  in (groups)" :key="k" :value="group.id" style="padding: 5px"> {{group.name}} </option>
                    </select>
                  </div>
                </div>
                <div class="flex justify-content-center my-2">
                  <LoadingButton 
                    class="reset_password_button register_button mr-3" 
                    text="Сохранить"
                    v-bind:isLoading="isLoading"
                  />
                  <button class="teachers_button teacher_cancel" style="border: none;" type="button" @click="cancelEditing">Отмена</button>
                </div>
              </form>
        </div>
        <div class="teachers_mobile_popup" v-if="isAddChild">
              <form @submit.prevent="saveNewChildInfo" class="teachers_mobile_popup_wrapper pb-2">
                <div class="teachers_add_mobile_header">
                    <div class="teachers_add_mobile_title p-4"> Добавить ребенка </div>
                    <div class="icon_close" @click="closeMobile()"></div>
                </div>
                <div class="flex wrap align-items-space-evenly m-3 justify-content-center">
                  <div class="group_edit_block  text-align-center">
                      <div > ФИО </div> 
                      <input type="text" v-model="newChild.name" required>
                  </div>
                  <div class="group_edit_block  text-align-center">
                      <div > ИИН </div> 
                      <input type="number" v-model="newChild.iin" required>
                      <p class="errors_block" style="width: 100%;" v-if="errorsNewChild['iin']"> {{ errorsNewChild['iin'] }}</p> 
                  </div>
                  <div class="group_edit_block  text-align-center">
                      <div > Пол</div> 
                      <select @change.capture="selectGender($event)" required>
                      <option :value="null"> Выберите пол </option>
                        <option v-for="(gen , k)  in (gender)" :key="k" :value="gen.id" style="padding: 5px"> {{gen.gender}} </option>
                      </select>
                  </div>
                  <div class="group_edit_block  text-align-center">
                    <div > Группа </div> 
                    <select @change.capture="selectGroup($event)" required>
                      <option :value="null"> Без группы </option>
                      <option v-for="(group , k)  in (groups)" :key="k" :value="group.id" style="padding: 5px"> {{group.name}} </option>
                    </select>
                  </div>
                </div>
                <div class="flex justify-content-center my-2">
                  <LoadingButton 
                    class="reset_password_button register_button mr-3" 
                    text="Сохранить"
                    v-bind:isLoading="isLoading"
                  />
                  <button class="teachers_button teacher_cancel" style="border: none;" type="button" @click="cancelAdding">Отмена</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import Nav from "../../components/Nav";
  import XLSX from 'xlsx-js-style';
  import LoadingButton from "../../components/LoadingButton.vue";
  import { BTable, BButton, BPagination, BFormInput } from 'bootstrap-vue';
  
  export default {
    name: "Groups",
    components: {
      Nav,
      BTable,
      BButton,
      BPagination,
      BFormInput,
      LoadingButton
    },
    data() {
      return {
        isHoverEffectApplied: false,
        isAddChild: false,
        isEdited: false,
        isEditedChild: false,
        isLoading: false,
        editedChild: '',
        editedGender: '',
        errorExcel: '',
        childs: [],
        perPage: 15,
        currentPage: 1,
        rows: 1,
        filter: null,
        newChild: {
          name: '',
          iin: '',
          gender: '',
          group: null,
        },
        errorsNewChild: {
          "iin" : "",
          "errors" : "",
        },
        errorsEditChild: {
          "iin" : "",
          "errors" : "",
        },
        fields: [
          { key: 'name', label: 'ФИО', sortable: true, },
          { key: 'iin', label: 'ИИН Ребенка', sortable: true, },
          { key: 'birth', label: 'Дата рождения', sortable: true, },
          { key: 'age', label: 'Возраст', sortable: true, },
          { key: 'gender', label: 'Пол', sortable: true, },
          { key: 'group_name', label: 'Группа', sortable: true}
        ],
      };
    },
    methods: {
      selectGroup(event) {
        if ( this.isAddChild ) {
            this.newChild.group = event.target.value;
        } else {
            this.editedChild.group = event.target.value;
        }
      },
      selectGender(event) {
        if ( this.isAddChild ) {
            this.newChild.gender = event.target.value;
        } else {
            this.editedGender = event.target.value;
        }
      },
      async getGroups() {
        const res = await axios.get('/api/get-org-groups');
        this.groups = res.data;
      },
      handleRowDoubleClick(item, index, event) {
        let genderId;
        let childGroup;

        this.gender.forEach( gender => {
          if (gender.gender == item.gender) {
            genderId = gender.id;
          }
        });
        
        this.groups.forEach( group => {
          if (group.name == item.group_name) {
            childGroup = group.id;
          }
        });
        
        if (event.detail === 2 && this.isEdited) {
          this.isEditedChild = true;
          this.editedChild = item;
          this.editedGender = genderId;
          this.editedChild.group = childGroup;
        }
      },
      cancelEditing() {
        this.isEditedChild = false;
      },
      cancelAdding() {
        this.isAddChild = false;
      },
      saveNewChildInfo(e) {
        this.errorsNewChild = {
          "iin" : "",
          "errors" : ""
        }

        if (this.newChild.iin.length != 12) {
          this.errorsNewChild['iin'] = "Неправильный формат ИИH"
        }

        let stop = (this.errorsNewChild['iin'].length == 0
              && this.errorsNewChild['errors'].length == 0);

        if (!stop) {
          e.preventDefault();
          return;
        }

        axios.post(`/api/childs/add-child`, {
                name: this.newChild.name,
                iin: this.newChild.iin,
                gender: this.newChild.gender,
                group: this.newChild.group,
              })
              .then(response => {
                this.getChilds();
                this.isAddChild = false;
              }).catch(err => this.errorsNewChild['errors'] = err.response.data.errors);
      },
      saveChildInfo(e) {
        this.errorsEditChild = {
          "iin" : "",
          "errors" : ""
        }

        if (this.editedChild.iin.length != 12) {
          this.errorsEditChild['iin'] = "Неправильный формат ИИH"
        }

        let stop = (this.errorsEditChild['iin'].length == 0
              && this.errorsEditChild['errors'].length == 0);

        if (!stop) {
          e.preventDefault();
          return;
        }

        axios.put(`/api/childs/update/${this.editedChild.id}`, {
                name: this.editedChild.name,
                iin: this.editedChild.iin,
                gender: this.editedGender,
                group: this.editedChild.group,
              })
              .then(response => {
                this.isEditedChild = false;
                this.getChilds();
              }).catch(err => this.errorsNewChild['errors'] = err.response.data.errors);
      },
      removeChild(data) {
        axios.put(`/api/childs/delete/${data.item.id}`)
              .then(response => {
                this.getChilds();
              })
              .catch(error => {
                console.error(error);
              });
      },
      closeMobile() {
        this.isAddChild = false;
        this.isEditedChild = false;
      },
      editButton() {
        this.fields.push({ key: 'remove', label: ''});
        let tds = document.querySelector(".childs_table_wrapper").querySelectorAll('td');

        tds.forEach( td => {
          td.classList = "hover-effect";
        });

        this.isEdited = !this.isEdited;
      },
      saveButton() {
        this.fields.pop();
        this.isEdited = !this.isEdited;
      },
      addButton() {
        this.isAddChild = true;
      },
      exportChildren() {
        const wb = XLSX.utils.book_new();
        const ws = XLSX.utils.json_to_sheet(this.childs);
        XLSX.utils.book_append_sheet(wb, ws, 'Дети');
        XLSX.writeFile(wb, 'Дети.xlsx');
      },
      importChildren() {
        const fileInput = this.$refs.file;
        const file = fileInput.files[0];
        this.errorExcel = '';

        if (file) {
          const formData = new FormData();
          formData.append('file', file);

          axios.post('api/add-childs', formData)
            .then(response => {
              if (response.data.status == 'success') {
                location.reload();
              } else {
                this.errorExcel = response.data;
              }
            })
            .catch(error => {
              // this.errorExcel = error.response.data.message.substring(0, 50);
              this.errorExcel = "Таблица эксель заполнена не по формату";
            });
        } else {
          alert('Please select an Excel file.');
        }
      },
      async getChilds() {
        const res = await axios.get('/api/get-org-childs');
        this.childs = res.data;
        this.rows = this.childs.length;
      },
      async getGender() {
        const data = await axios.get(window.location.origin + '/get-gender');
        this.gender = data.data;
      }
    },
    created() {
      this.getChilds();
      this.getGroups();
      this.getGender();
    }
  };
  </script>
  
  <style>
  .childs_table_wrapper {
    overflow: hidden;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  .table th, .table td {
    border: 1px solid #dee2e6;
  }
  .table thead th {
    color: var(--text-color, #434656);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: norm;
    padding: 10px 20px;
    border: 1px solid #dee2e6;
  }
  .table tbody tr td {
    color: var(--text-color, #434656);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 25px;
  }
  .page-item.active .page-link {
    background-color: #2EA263;
    border: 1px solid #2EA263;
  }
  ol, ul, dl {
    margin-bottom: 0;
  }
  .childs_panel {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 25px;
  }
  .childs_search {
    width: 250px;
    border-radius: 6px;
    border: 1px solid #D5DBE2;
    background: #FFF;
    padding: 5px 10px;
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container_childs {
    width: 100%;
    padding: 1%;
    background: #EFF3F5;
  }
  .childs {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
  }
  .childs_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #43465640;
  }
  .childs_functions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .childs_export_excel, .childs_import_excel {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    color: var(--main-color, #2EA263);
    text-align: right;
    font-size: 0.875rem;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
  }
  .childs_export_excel:hover, .childs_import_excel:hover{
    color: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    background: var(--main-color, #2EA263);
  }

  .childs_add {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    background: var(--main-color, #2EA263);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    color: #FFF;
    text-align: right;
    font-size: 0.875rem;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 15px;
    margin-right: 10px;
  }
  .childs_add:hover {
    cursor: pointer;
    background: var(--main-color, #7acfa0);
  }
  .childs_edited {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    background: var(--blue-2, #2D9CDB);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    color: #FFF;
    text-align: right;
    font-size: 0.875rem;;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 15px;
  }
  .childs_edited:hover {
    cursor: pointer;
    background: var(--blue-2, #89c9ef);
  }
  .hover-effect:hover {
    cursor: url(./../../../../public/images/icons8-pointer.svg) 0 3, auto !important;
  }
  .icon_edit {
    width: 20px;
    height: 20px;
    background-image: url(./../../../../public/images/icon_edit.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  .icon_delete {
    width: 20px;
    height: 16px;
    background-image: url(./../../../../public/images/trash.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  .childs_no_data {
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
  }
  .home-title {
    font-size: 4rem;
  }
  .masthead {
    background: linear-gradient(0deg, #4e73df 0%, #36b9cc 100%);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .min-vh-88 {
      min-height: 88vh !important;
  }
  </style>
  