<template>
    <div class="group_info_block">
        <div class="group_teacher" 
          v-for="(teacher_name , index)  in (groupInfo.teacher_names)" :key="index"
          :class="{ 'group_teacher_hover': isEdited === true }" 
          @click="deleteTeacherFromGroup(index)"
        >
          <div class="group_teacher_photo" :class="{ 'group_teacher_photo_hover': isEdited === true }"></div>
          <div class="group_teacher_info">
            <div class="normal_sm_text mb-2"> {{ teacher_name }}</div>
            <div class="gray_sm_text">{{ groupInfo.teacher_phone[index] }}</div>
          </div>
        </div>
        <div class="group_teacher">
            <div class="teacher_group_img"></div>
            <div class="group_teacher_info">
                <div class="normal_sm_text">{{ groupInfo.type_group }}</div>
                <div class="gray_sm_text"> Мест: {{ groupInfo.count_place }}</div>
                <div class="gray_sm_text"> Количество: {{ groupInfo.childs_amount }}</div>
                <div class="gray_sm_text"> Возрастная группа: {{ groupInfo.age }}</div>
            </div>
        </div>
        <div class="teacher_group_add" v-if="isEdited" @click="showOtherTeachers()">
            <div class="teacher_group_add_img"></div>
            <div class="teacher_group_add_title">Добавить воспитателя</div>

            <div class="teacher_group_add_wrapper relative" v-if="isAddTeacherShowed">
              <div class="flex justify-content-end">
                <div class="icon_close left"></div>
              </div>
              <div class="teacher_add_group" v-for="(addTeacher, index) in addTeachers" :key="index" @click="addTeacherToGroup(addTeacher)">
                  <div class="flex justify-content-space-between align-items-center">
                    <div class="teacher_group_img"></div>
                    <div class="teacher_group_info">
                      <div class="teacher_group_name"> {{ addTeacher.name }} </div>
                      <div class="gray_sm_text"> {{ addTeacher.telephone }}</div>
                    </div>
                  </div>
                  <div style="width: 30px;">
                    <div class="teacher_group_add_icon" ></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  
  export default {
    name: "GroupInfo",
    props: {
      groupInfo: Object,
      isEdited: Boolean,
      isAddTeacherShowed: Boolean
    },
    components: {
      axios
    },
    data() {
      return {
        addTeachers: "",
        teachers: "",
      };
    },
    computed: {
    },
    methods: {
      deleteTeacherFromGroup(teacherId) {
        if ( this.isEdited ) {
          axios.put(`/api/groups/delete-teacher/${this.groupInfo.id}`, { 
            teacher_id: teacherId,
          })
          .then(response => {
            this.$emit('teacher-changing');
          })
          .catch(error => {
            console.error(error);
          });
        }
      },
      addTeacherToGroup(teacherId) {
        if ( this.isEdited ) {
          axios.put(`/api/groups/add-teacher/${this.groupInfo.id}`, { 
            teacher_id: teacherId.id,
          })
          .then(response => {
            this.$emit('teacher-changing');
          })
          .catch(error => {
            console.error(error);
          });
        }
      },
      async getTeachers() {
        let teachers = Object.keys(this.groupInfo.teacher_names);
        const res = await axios.get('/api/get-other-teachers?teachers=' + teachers);
        this.addTeachers = res.data;
      },
      showOtherTeachers() {
        this.getTeachers();
        this.$emit('toggle-is-show-teachers');
      },
    },
    mounted() {
    }
  };
  </script>
  
  <style>
  .close_popup {

  }
  .group_info_block {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 15px 20px;
  }
  .group_teacher {
    cursor: pointer;
    width: 31%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(67, 70, 86, 0.25);
    margin: 0 2% 20px 0;
  }
  .group_teacher_hover:hover {
    border: 1px solid #EB5757;
  }
  .group_teacher_hover:hover .group_teacher_photo_hover {
    min-width: 50px;
    height: 50px;
    background-color: #EB5757;
    border-radius: 50%;
    background-image: url(./../../../../public/images/delete.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .group_teacher_photo {
    background-image: url(./../../../../public/images/teacher.png);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .group_teacher_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
  </style>
  