<template>
  <div class="light_text error_style">
    {{ selectedError.problem }}
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Error",
  props: {
    selectedError: Object
  },
  components: {
    axios
  },
  data() {
    return {
    };
  },
  computed: {
  },
  methods: {
  },
  mounted() {
  }
};
</script>

<style>
.app_error {
  padding: 20px;
}
.error {
  border: 1px solid #b3afaf;
}
.error_style {
  padding: 20px;
  border: 1px solid #6c757d;
  border-radius: 10px;
}
</style>
  