<template>
  <div>
      <Nav/>
      <div class="container_teachers min-vh-90 max-content">
        <div class="flex profile_wrapper">
          <div class="profile_block">
            <div class="profile_photo"></div>
            <!-- <a href="/profile-settings" class="teacher_edit teachers_no_button profile_edit"> <div class="icon_edit"></div> Редактировать</a> -->
            <div class="large_text ml-20"> {{ user.admin_name }}</div>
            <div class="ml-20">
                <span class="gray_text">Телефон:</span> {{ user.telephone }}
            </div>
            <div class="ml-20 mb-4">
                <span class="gray_text">Email:</span> {{ user.email }}
            </div>
          </div>
          <div class="profile_block">
            <div class="profile_organization_header flex">
                <div class="org_icon"></div>
                <div class="normal_title">Организация</div>
            </div>
            <div class="profile_organization">
                <div class="profile_organization_info flex justify-content-space-between mb-3" v-for="(info, index) in this.orgInfo" :key="index">
                    <div class="gray_text"> {{ index }}</div>
                    <div class="normal_text"> {{ info }}</div>
                </div>
            </div>
          </div>
          <div class="profile_block">
            <div class="profile_organization_header flex">
                <div class="gis_icon"></div>
                <div class="normal_title">ГИС метка</div>
            </div>
            <div class="profile_address">
                <div class="normal_text">{{ user.address }}</div>
            </div>
            <div class="profile_map">
              <Map :isRegistration="isRegistration" :location="location"/>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>

import { mapGetters } from "vuex";
import Nav from "../../components/Nav";
import Map from "../../components/Map";

export default {
  name: "Profile",
  components: {
    Nav,
    Map,
  },
  data() {
    return {
        isRegistration: false,
        orgInfo: {
            'Проект' : '',
            'Наименование' : '',
            'БИН организации' : '',
            'Область' : '',
            'Район' : '',
            'Тип' : '',
            'Признак город / село' : '',
            'Признак экологии' : '',
            'Проектная мощность' : '',
        }
    };
  },
  computed: {
    ...mapGetters(["user"]),
    location() {
      return this.user.location;
    }
  },
  methods: {
  },
  mounted () {
    this.orgInfo['Проект'] = this.user.type_project;
    this.orgInfo['Наименование'] = this.user.name;
    this.orgInfo['БИН организации'] = this.user.bin;
    this.orgInfo['Область'] = this.user.region;
    this.orgInfo['Район'] = this.user.district;
    this.orgInfo['Тип'] = this.user.type_org;
    this.orgInfo['Признак город / село'] = this.user.type_location;
    this.orgInfo['Признак экологии'] = this.user.type_region;
    this.orgInfo['Проектная мощность'] = this.user.project_capacity;
  }
};
</script>

<style>
.profile_map {
    border: 1px solid #43465640;
    height: 350px;
}
.profile_address {
    padding: 20px;
}
.profile_wrapper {
    height: max-content;
}
.profile_block {
    position: relative;
    width: 32%;
    background-color: #fff;
    border-radius: 10px;
    margin: 0.5%;
}

.profile_photo {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-color: #43465640;
    margin: 20px;
}
.profile_organization {
    padding: 20px;
}
.profile_organization_header {
    border-bottom: 1px solid #43465640;
    padding: 20px;
}
.profile_edit {
    position: absolute;
    top: 20px;
    right: 20px;
}

.profile_edit:hover {
  color: white !important;
  text-decoration-line: none;
  background-color: orange;
}
.org_icon {
    background-image: url(./../../../../public/images/org.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.gis_icon {
    background-image: url(./../../../../public/images/gis.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
</style>
  

  