<template>
    <div class="login_bg">
      <div class="login_wrapper">
        <div class="large_light_text">Сменить пароль</div>
        <div class="column justify-content-space-between align-content-center w-100">
          <form action="" @submit.prevent="changePassword">
            <div class="login_title light_sm_text"> Введите старый пароль</div>
            <div class="username_wrapper column">
              <input type="password" class="login_input" placeholder="Введите старый пароль" v-model="oldPassword">
              <img src="./../../../../public/images/password_icon.svg" class="password_icon"/>
              <p class="errors_block" v-if="errors['old_password']"> {{ errors['old_password'] }}</p>
            </div>
            <div class="login_title light_sm_text">Новый пароль</div>
            <div class="password_wrapper column">
              <input type="password" class="login_input" placeholder="Новый пароль" v-model="newPassword">
              <img src="./../../../../public/images/password_icon.svg" class="password_icon"/>
              <p class="errors_block" v-if="errors['password']"> {{ errors['password'] }}</p>
            </div>
            <div class="login_title light_sm_text">Повторите новый пароль</div>
            <div class="password_wrapper column">
              <input type="password" class="login_input" placeholder="Повторите новый пароль" v-model="repeatNewPassword">
              <img src="./../../../../public/images/password_icon.svg" class="password_icon"/>
              <p class="errors_block" v-if="errors['password_confirmation']"> {{ errors['password_confirmation'] }}</p>
              <p class="errors_block" v-if="errors['error']"> {{ errors['error'] }}</p>
            </div>
            <LoadingButton 
              class="reset_password_button my-4" 
              text="Сменить"
              v-bind:isLoading="isLoading"
            />
          </form>
          <button type="submit" class="btn btn-danger light_sm_text w-100" @click="back()"> Назад </button>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
import LoadingButton from "../../components/LoadingButton";

export default {
  name: "Login",
  components: {
    LoadingButton
  },
  data() {
    return {
      isLoading: false,
      oldPassword: "",
      newPassword: "",
      repeatNewPassword: "",
      errors: {
        "old_password" : "",
        "password" : "",
        "password_confirmation" : "",
        "error" : ""
      }
    };
  },
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
      async changePassword() {
        this.errors = {
          "old_password" : "",
          "password" : "",
          "password_confirmation" : "",
          "error" : ""
        }

        if (this.newPassword.length < 8) {
            this.errors['password'] = "Пароль должен быть длиной не менее 8 символов";
        } else if (!/\d/.test(this.newPassword)) {
            this.errors['password'] = "Пароль должен содержать хотя бы одну цифру";
        } else if (!/[a-z]/.test(this.newPassword)) {
            this.errors['password'] =  "Пароль должен содержать хотя бы одну строчную букву";
        } else if (!/[A-Z]/.test(this.newPassword)) {
            this.errors['password'] = "Пароль должен содержать хотя бы одну заглавную букву";
        } else if (!/[!@#$%^&*()_+\-.{}[\]~]/.test(this.newPassword)) {
            this.errors['password'] = "Пароль должен содержать хотя бы один символ (!@#$%^&*()_+-.[]~)";
        }

        if ( this.newPassword !== this.repeatNewPassword) {
            this.errors['password_confirmation'] = "Пароли не совпадают";
        }

        let stop = (this.errors['password'].length == 0 && this.errors['password_confirmation'].length == 0);

        if (!stop) {
          e.preventDefault();
          return;
        }

        try {
            const response = await axios.post("/api/reset", {
                'token': localStorage.getItem('token'),
                'email': this.user.bin,
                'password': this.newPassword,
                'password_confirmation': this.repeatNewPassword,
            });
            
            localStorage.setItem("token", response.data.token);
            this.$store.dispatch("user", response.data.user);
            this.$router.push("/profile");
        } catch (error) {
            this.error['error'] = error;
        }
      },
      back() {    
          this.$router.push('/profile');
      },
  },
  created(){
  },
};
</script>

<style src="./../../../css/app.css" scoped></style>

<style>
.login_bg {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-image: url(./../../../../public/images/login_bg.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.login_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 500px;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.30) 0%, rgba(3, 17, 30, 0.00) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  padding: 50px;
  margin: 0;
}
.login_logo {
  width: 200px;
  height: 40px;
  padding: 50px 0 30px 0;
  background-image: url(./../../../../public/images/login_logo.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.login_title {
  text-align: left;
  margin: 20px 0px 5px 0px;
}
.login_input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #D5DBE2;
  background: #FFF;
}
.login_input::placeholder {
  font-size: 1rem;
}
.reset_password_button {
  border: none;
  background: #2EA263;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.username_wrapper, .password_wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.username_icon, .password_icon {
  position: absolute;
  top: 12px;
  right: 15px;
}
</style>