<template>
    <div class="teachers_right">
        <b-modal
            id="modal-1"
            v-model="isDeleteEmployee"
            ok-title="Удалить"
            cancel-title="Отмена"
            @ok="deleteButton"
        >
            <p class="my-4"> Вы уверены, что хотите удалить сотрудника ?</p>
        </b-modal>

        <div class="teachers_excel" v-if="employees.length === 0 && !isAdd">
          <div class="teachers_empty_title"> Пока нет ни одного сотрудника </div>
          <div style="display: flex">
            <form @submit.prevent="importEmployee" class="flex align-items-center normal_sm_text">
              <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" class="input_excel p-2"/>
              <button type="submit" class="childs_import_excel"> 
                <div class="icon_excel"></div>
                Импортировать
              </button>
            </form>
            <div class="mx-2">
              <p class="errors_block" style="width: 100% !important;" v-if="errorExcel"> {{ errorExcel }}</p>
            </div>
            <button class="teachers_no_button teachers_button" @click="addEmployee()">  <div class="icon_plus"></div> Добавить </button>
          </div>
        </div>
        <div class="teachers_selected" v-if="employeeInfo.id && !isAdd">
          <div class="teachers_right_header">
            <button class="teacher_edit teachers_no_button" @click="editButton()" v-if="!isEdited"> <div class="icon_edit"></div> Редактировать</button>
            <div class="teacher_save flex align-items-center justify-content-space-between w-100" v-if="isEdited">
              <div class="">
                <button class="teacher_edit teacher_delete" @click="isDeleteEmployee = true"> Удалить</button>
                <button class="teacher_edit ml-2" @click="openChangePasswordWrapper()"> Сменить пароль</button>
              </div>
              <div class="flex">
                <button class="teacher_edit teacher_cancel mr-2" @click="cancelButton()" > Отмена </button>
                <button class="teacher_edit teacher_save_button" @click="editEmployee()" > Сохранить </button>
              </div>
            </div>
          </div>
          <employee-info :employeeInfo="editEmployeeInfo" :isEdited="isEdited" :errorsEmployeeEdit="errorsEmployeeEdit"/>
        </div>
        <form @submit.prevent="createEmployee" class="teacher_info_add" v-if="isAdd">
          <div class="teacher_info_add">          
            <div class="teacher_edit_block">
                <div>ФИО</div> 
                <input type="text" v-model="newEmployee.name" required>
            </div>
            <div class="teacher_edit_block">
                <div >ИИН</div> 
                <input type="number" v-model="newEmployee.iin" required>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewEmployee['iin']"> {{ errorsNewEmployee['iin'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Телефон:</div> 
                <input type="number" v-model="newEmployee.telephone" required>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewEmployee['telephone']"> {{ errorsNewEmployee['telephone'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Дата рождения:</div> 
                <input type="date" v-model="newEmployee.birth_date" required>
            </div>
            <div class="teacher_edit_block">
                <div >Подразделение:</div> 
                <input type="text" v-model="newEmployee.job" required>
            </div>
            <div class="teacher_edit_block">
                <div >Email:</div> 
                <input type="email" v-model="newEmployee.email" required>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewEmployee['email']"> {{ errorsNewEmployee['email'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Пароль:</div>
                <input :type="showPassword === true ? 'text' : 'password'" id="password" v-model="newEmployee.password" class="input_password" required>
                <div class="strength" :class="'level_' + strengthLevel"></div>
                <i class="fas fa-eye show-icon" v-if="showPassword" @click="showPassword = !showPassword"></i>
                <i class="fas fa-eye-slash hide-icon" v-else @click="showPassword = !showPassword"></i>
                <i class="fas fa-frown level-icon" v-if="strengthLevel === 1"></i>
                <i class="fas fa-meh level-icon" v-if="strengthLevel === 2"></i>
                <i class="fas fa-smile level-icon" v-if="strengthLevel === 3"></i>
                <i class="fas fa-grin-stars level-icon" v-if="strengthLevel === 4"></i>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewEmployee['password']"> {{ errorsNewEmployee['password'] }}</p>
            </div>
            <div class="teacher_edit_block">
                <div >Подтвердите пароль:</div> 
                <input :type="showPasswordConf === true ? 'text' : 'password'" id="password_confirmation" v-model="newEmployee.password_confirmation" class="input_password" required>
                <div class="strength" :class="'level_' + strengthLevelConf"></div>
                <i class="fas fa-eye show-icon" v-if="showPasswordConf" @click="showPasswordConf = !showPasswordConf"></i>
                <i class="fas fa-eye-slash hide-icon" v-else @click="showPasswordConf = !showPasswordConf"></i>
                <i class="fas fa-frown level-icon" v-if="strengthLevelConf === 1"></i>
                <i class="fas fa-meh level-icon" v-if="strengthLevelConf === 2"></i>
                <i class="fas fa-smile level-icon" v-if="strengthLevelConf === 3"></i>
                <i class="fas fa-grin-stars level-icon" v-if="strengthLevelConf === 4"></i>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewEmployee['password_confirmation']"> {{ errorsNewEmployee['password_confirmation'] }}</p>
                <p class="errors_block" style="width: 80%;" v-if="errorsNewEmployee['errors']"> {{ errorsNewEmployee['errors'] }}</p>
            </div>
          </div>
          <div class="flex" style="margin: 0 auto;">
            <LoadingButton 
              class="reset_password_button register_button mr-3" 
              text="Добавить сотрудника"
              v-bind:isLoading="isLoading"
            />
            <button class="teachers_button teacher_cancel" @click="cancelCreateEmployee"> Отмена </button>
          </div>
        </form>
        <div @submit.prevent="changeTeacherPassword" class="teachers_mobile_popup" v-if="isChangePassword">
            <div class="teachers_mobile_popup_wrapper">
              <form class="flex column justify-content-center align-items-center p-4">
                <div class="large_text center mb-2"> Сменить пароль </div>
                <div class="teacher_edit_block" style="width: 40%;">
                  <div >Пароль:</div> 
                  <input class="w-100" type="password" v-model="changePassword.password">
                  <p class="errors_block" v-if="errorsChangePassword['password']"> {{ errorsChangePassword['password'] }}</p>
                </div>
                <div class="teacher_edit_block" style="width: 40%;">
                  <div >Подтвердите пароль:</div> 
                  <input class="w-100" type="password" v-model="changePassword.password_confirmation">
                  <p class="errors_block" v-if="errorsChangePassword['password_confirmation']"> {{ errorsChangePassword['password_confirmation'] }}</p>
                  <p class="errors_block" v-if="errorsChangePassword['errors']"> {{ errorsChangePassword['errors'] }}</p>
                </div>
                <div class="mt-4 flex justify-content-center">
                  <LoadingButton 
                    class="reset_password_button register_button mr-3" 
                    text="Сменить пароль"
                    v-bind:isLoading="isLoading"
                  />
                  <button class="teachers_button teacher_cancel mr-2" @click="back()"> Вернуться назад</button>
                </div>
              </form>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  import EmployeeInfo from './EmployeeInfo';
  import { BootstrapVue, BModal } from 'bootstrap-vue';
  import LoadingButton from "../../components/LoadingButton.vue";
  
  export default {
    name: "Employee",
    props: {
        employeeInfo: Object,
        employees: Array,
        isAdd: Boolean
    },
    components: {
        EmployeeInfo,
        LoadingButton,
        BootstrapVue,
        BModal
    },
    data() {
      return {
        newEmployee: {
          name: "",
          iin: "",
          telephone: "",
          job: "",
          birth_date: "",
          email: "",
          password: "",
          password_confirmation: "",
        },
        changePassword: {
          iin: "",
          password: "",
          password_confirmation: "",
        },
        errorsNewEmployee : {
          "iin" : "",
          "telephone" : "",
          "password" : "",
          "password_confirmation" : "",
          "errors": ""
        },
        errorsEmployeeEdit: {
          "iin" : "",
          "telephone" : "",
          "email": "",
          "birth_date": "",
          "errors": ""
        },
        errorsChangePassword: {
          "password" : "",
          "password_confirmation" : "",
          "errors" : ""
        },
        isEdited: false,
        isAddGroupsShowed: false,
        isChangePassword: false,
        isDeleteEmployee: false,
        isLoading: false,
        showPassword: false,
        showPasswordConf: false,
        errorExcel: ''
      };
    },
    computed: {
      scorePassword() {
        let score = 0;
        if(this.newEmployee.password === '') return score;

        let letters = {};
        for(let i = 0; i < this.newEmployee.password.length; i++) {
          letters[this.newEmployee.password[i]] = (letters[this.newEmployee.password[i]] || 0) + 1;
          score += 5.0 / letters[this.newEmployee.password[i]];
        }

        let variations = {
          digits: /\d/.test(this.newEmployee.password),
          lower: /[a-z]/.test(this.newEmployee.password),
          upper: /[A-Z]/.test(this.newEmployee.password),
          special: /\W/.test(this.newEmployee.password)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      strengthLevel() {
        let pass = this.scorePassword;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      },
      scorePasswordConf() {
        let score = 0;
        if(this.newEmployee.password_confirmation === '') return score;

        let letters = {};
        for(let i = 0; i < this.newEmployee.password_confirmation.length; i++) {
          letters[this.newEmployee.password_confirmation[i]] = (letters[this.newEmployee.password_confirmation[i]] || 0) + 1;
          score += 5.0 / letters[this.newEmployee.password_confirmation[i]];
        }

        let variations = {
          digits: /\d/.test(this.newEmployee.password_confirmation),
          lower: /[a-z]/.test(this.newEmployee.password_confirmation),
          upper: /[A-Z]/.test(this.newEmployee.password_confirmation),
          special: /\W/.test(this.newEmployee.password_confirmation)
        };

        let variationsCount = 0;
        for (let check in variations) {
          variationsCount += (variations[check] === true) ? 1 : 0;
        }

        score += (variationsCount - 1) * 10;

        return parseInt(score);
      },
      strengthLevelConf() {
        let pass = this.scorePasswordConf;
        if(pass === 0) return 0;
        if(pass < 25) return 1;
        if(pass < 50) return 2;
        if(pass < 75) return 3;
        if(pass >= 75) return 4;
      },
      editEmployeeInfo() {
          let edit = {
              name: this.employeeInfo.name,
              iin: this.employeeInfo.iin,
              telephone: this.employeeInfo.telephone,
              job: this.employeeInfo.job,
              birth_date: this.employeeInfo.birth_date,
              email: this.employeeInfo.email,
              password: this.employeeInfo.password,
              password_confirmation: this.employeeInfo.password_confirmation
          };
          return edit;
      },
      selectedEmployeeId() {
        return this.employeeInfo.id;
      }
    },
    watch: {
      selectedEmployeeId() {
        this.isEdited = false;
        this.isAddGroupsShowed = false;
      }
    },
    methods: {
        changeTeacherPassword(e) {
          this.errorsChangePassword = {
            "password" : "",
            "password_confirmation" : "",
            "errors": ""
          };

          if (this.changePassword.password.length < 8) {
              this.errorsChangePassword['password'] = "Пароль должен быть длиной не менее 8 символов";
          } else if (!/\d/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] = "Пароль должен содержать хотя бы одну цифру";
          } else if (!/[a-z]/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] =  "Пароль должен содержать хотя бы одну строчную букву";
          } else if (!/[A-Z]/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] = "Пароль должен содержать хотя бы одну заглавную букву";
          } else if (!/[!@#$%^&*()_+\-.{}[\]~]/.test(this.changePassword.password)) {
              this.errorsChangePassword['password'] = "Пароль должен содержать хотя бы один символ (!@#$%^&*()_+-.[]~)";
          }

          if (this.changePassword.password !== this.changePassword.password_confirmation) {
              this.errorsChangePassword['password_confirmation'] = "Пароли не совпадают";
          }

          let stop = ( this.errorsChangePassword['password'].length == 0 && this.errorsChangePassword['password_confirmation'].length == 0);

          if (!stop) {
            e.preventDefault();
            return;
          }

          this.changePassword.iin = this.employeeInfo.iin;
          axios.post("/api/employees/change-password", this.changePassword).then(res => {
            this.isChangePassword = !this.isChangePassword;
          }).catch(err => this.errorsChangePassword['errors'] = err.response.data.errors)
        },
        back() {
          this.isChangePassword = !this.isChangePassword;
        },
        openChangePasswordWrapper() {
          this.isChangePassword = !this.isChangePassword;
        },
        addEmployee() {
          this.$emit('update-is-add', true);
        },
        cancelCreateEmployee() {
          this.$emit('update-is-add', false);
        },
        createEmployee(e) {
          this.errorsNewEmployee = {
            "iin" : "",
            "telephone" : "",
            "password" : "",
            "password_confirmation" : "",
            "errors" : ""
          }
          if (this.newEmployee.iin.length != 12) {
            this.errorsNewEmployee['iin'] = "Неправильный формат ИИH"
          }
          if (this.newEmployee.telephone.length != 11) {
            this.errorsNewEmployee['telephone'] = "Неверный номер телефона"
          }
          if (!this.newEmployee.telephone.startsWith("87")) {
            this.errorsNewEmployee['telephone'] = "Неверный формат телефона"
          }

          if (this.newEmployee.password.length < 8) {
              this.errorsNewEmployee['password'] = "Пароль должен быть длиной не менее 8 символов";
          } else if (!/\d/.test(this.newEmployee.password)) {
              this.errorsNewEmployee['password'] = "Пароль должен содержать хотя бы одну цифру";
          } else if (!/[a-z]/.test(this.newEmployee.password)) {
              this.errorsNewEmployee['password'] =  "Пароль должен содержать хотя бы одну строчную букву";
          } else if (!/[A-Z]/.test(this.newEmployee.password)) {
              this.errorsNewEmployee['password'] = "Пароль должен содержать хотя бы одну заглавную букву";
          } else if (!/[!@#$%^&*()_+\-.{}[\]~]/.test(this.newEmployee.password)) {
              this.errorsNewEmployee['password'] = "Пароль должен содержать хотя бы один символ (!@#$%^&*()_+-.[]~)";
          }

          if (this.newEmployee.password !== this.newEmployee.password_confirmation) {
              this.errorsNewEmployee['password_confirmation'] = "Пароли не совпадают";
          }

          let stop = (this.errorsNewEmployee['iin'].length == 0 
              && this.errorsNewEmployee['telephone'].length == 0 
              && this.errorsNewEmployee['password'].length == 0
              && this.errorsNewEmployee['password_confirmation'].length == 0);

          if (!stop) {
            e.preventDefault();
            return;
          }

          axios.post("/api/employee-register", this.newEmployee)
          .then(response => {
            if (response.status == 500) {
              this.errors['errors'] = response.data.errors;
            } else {
              location.reload();
            }
          }).catch(err => this.errorsNewEmployee['errors'] = err.response.data.errors);
        },
        editButton() {
            this.isEdited = !this.isEdited;
        },
        cancelButton() {
            this.isEdited = !this.isEdited;
            this.isAddGroupsShowed = false;
        },
        onToggleIsShowGroups() {
          this.isAddGroupsShowed = !this.isAddGroupsShowed;
        },
        deleteButton() {
          axios.put(`/api/employees/delete/${this.employeeInfo.id}`)
              .then(response => {
                location.reload();
              })
              .catch(error => {
                console.error(error);
              });
        },
        editEmployee() {
          this.errorsEmployeeEdit = {
            "iin" : "",
            "telephone" : "",
            "email": "",
            "birth_date": "",
            "errors": ""
          };

          if (String(this.editEmployeeInfo.iin).length != 12) {
            this.errorsEmployeeEdit['iin'] = "Неправильный формат ИИH"
          }
          if (String(this.editEmployeeInfo.telephone).length != 11) {
            this.errorsEmployeeEdit['telephone'] = "Неверный номер телефона"
          }
          if (!String(this.editEmployeeInfo.telephone).startsWith("87")) {
            this.errorsEmployeeEdit['telephone'] = "Неверный формат телефона"
          }
          if (!this.editEmployeeInfo.email.includes('@') && !this.editEmployeeInfo.email.includes('.')) {
            this.errorsEmployeeEdit['email'] = "Неверный формат email, нету @ или ."
          }
          if (!this.editEmployeeInfo.birth_date) {
            this.errorsEmployeeEdit['birth_date'] = "Неверный формат телефона"
          }

          let stop = (this.errorsEmployeeEdit['iin'].length == 0 
              && this.errorsEmployeeEdit['telephone'].length == 0 
              && this.errorsEmployeeEdit['birth_date'].length == 0
              && this.errorsEmployeeEdit['email'].length == 0);

          if (!stop) {
            return;
          }

          axios.put(`/api/employees/update/${this.employeeInfo.id}`, { 
              name: this.editEmployeeInfo.name, 
              iin: this.editEmployeeInfo.iin, 
              telephone: this.editEmployeeInfo.telephone, 
              job: this.editEmployeeInfo.job, 
              email: this.editEmployeeInfo.email, 
              birth: this.editEmployeeInfo.birth_date
            })
            .then(response => {
              this.isEdited = !this.isEdited;
              this.$emit('update-employees');
            })
            .catch(error => {
              this.errorsEmployeeEdit['errors'] = error.response.data.errors;
            });
        },
        importEmployee() {
          const fileInput = this.$refs.file;
          const file = fileInput.files[0];
          this.errorExcel = ''

          if (file) {
            const formData = new FormData();
            formData.append('file', file);

            axios.post('api/employees/import', formData)
              .then(response => {
                if (response.data.status == 'success') {
                  location.reload();
                } else {
                  this.errorExcel = response.data;
                }
              })
              .catch(error => {
                // this.errorExcel = error.response.data
                this.errorExcel = "Таблица эксель заполнена не по формату";
              });
          } else {
            alert('Please select an Excel file.');
          }
        },
    },
    mounted() {
    }
  };
  </script>
  
  <style lang="scss" scoped>
  @import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
  
  .input_password {
    position: relative;
    padding-left: 40px !important;
    color: #333;
    overflow: hidden;
    z-index: 10;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
  
  .strength {
    position: absolute;
    top: 30px !important;
    left: 0;
    right: 0;
    display: block;
    width: 80% !important;
    height: 45px;
    background-color: #a5df41;
    border-radius: 40px;
    overflow: hidden;
    z-index: 9;
    transition: all .5s linear;
  }
  
  @mixin level($position, $width, $color) {
    top: $position;
    width: $width;
    background-color: $color;
  }
  
  .level_0 {
    @include level(0, 25%, #BB4440);
  }
  .level_1 {
    @include level(30px, 25%, #BB4440);
  }
  .level_2 {
    @include level(30px, 50%, #E17D30);
  }
  .level_3 {
    @include level(30px, 75%, #F0B03F);
  }
  .level_4 {
    @include level(30px, 100%, #a5df41);
  }
  
  .level-icon {
    position: absolute;
    right: 23%;
    top: 39px;
    z-index: 11;
  }
  
  @mixin showpass($property) {
    position: absolute;
    left: $property;
    top: 39px;
    z-index: 11;
    cursor: pointer;
  }
  .show-icon {
    @include showpass(10px);
  }
  .hide-icon {
    @include showpass(8px);
    color: #555;
  }
  </style>
<style>
.modal-backdrop {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
}
header {
  height: auto;
}
</style>
  