<template>
    <div>
      <Nav />
      <div class="container_teachers min-vh-90 max-content">
        <div class="teachers">
            <div class="teachers_left">
                <div class="teachers_header">
                    <div class="teachers_header">
                        <div class="teachers_logo"></div>
                        <div class="teachers_title">Сотрудники</div>
                    </div>
                    <button class="teachers_button teachers_no_button" @click="addEmployee()"> <div class="icon_plus"></div> Добавить</button>
                </div>
                <div class="teachers_list">
                    <div class="teacher_left_block" :class="{ 'teacher_left_block_selected': activeIndex === index }" v-for="(employee, index) in employees" :key="index" @click="selectEmployee(employee, index)">
                      <div class="teacher_left_list">
                        <div class="">
                          <div class="teacher_name" :class="{ 'font_color_white': activeIndex === index }">{{ employee.name }}</div>
                          <div class="teacher_groups" :class="{ 'font_color_white': activeIndex === index }"> {{ employee.job }}</div>
                        </div>
                        <div class="arrow_right" :class="{ 'display_none': activeIndex === index }"></div>
                      </div>
                    </div>
                  </div>
                </div>
            <employee :employees="employees" :employeeInfo="selectedEmployee" :isAdd="isAdd"
                @update-employees="updateEmployees($event)"
                @update-is-add="updateIsAdd($event)"
                @upload-is-add="uploadIsAdd()"
            />
        </div>
        <div class="excel">
        </div>
      </div>
    </div>
  </template>
  
  <script>
  
  import axios from "axios";
  import Nav from "../../components/Nav";
  
  export default {
    name: "Employees",
    components: {
      Nav,
    },
    data() {
      return {
        isAdd: false,
        activeIndex: -1,
        selectedEmployee: {},
        employees: []
      };
    },
    computed: {
    },
    methods: {
      async updateEmployees(employeeId) {
        this.getEmployees();
        let selectedEmployee;

        Object.values(this.employees).forEach( employee => {
          if (employee.id == employeeId) {
            selectedEmployee = employee;
          }
        });
        this.selectedEmployee(selectedEmployee, this.activeIndex);
      },
      updateIsAdd($event) {
        this.isAdd = $event;
      },
      uploadIsAdd() {
        this.isAdd = !this.isAdd;
      },
      async getEmployees() {
        const res = await axios.get('/api/get-employees');
        this.employees = res.data['list'];
      },
      selectEmployee(employee, index) {
        this.activeIndex = index;
        this.selectedEmployee = employee;
        this.isAdd = false;
      },
      addEmployee() {
        this.activeIndex = -1;
        this.isAdd = true;
      },
    },
    mounted () {
      this.getEmployees();
    }
  };
  </script>
  
  <style>
  </style>
  