<template>
    <div class="login_bg">
      <div class="login_wrapper justify-content-center">
        <div class="flex">
            <form @submit.prevent="uploadPdf" class="flex align-items-center normal_sm_text">
              <input type="file" id="file" ref="file" name="file" accept=".pdf" :v-model="selectedFile" class="input_excel p-2"/>
              <button type="submit" class="childs_import_excel"> 
                <div class="icon_excel"></div>
                Импортировать
              </button>
            </form>
          </div>
        </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  import XLSX from 'xlsx-js-style';

  export default {
    components: {
      XLSX,
      axios
    },
    data() {
      return {
        csvData: '',
        selectedFile: '',
      };
    },
    methods: {
        async uploadPdf() {
            const fileInput = this.$refs.file;
            const file = fileInput.files[0];

            try {
                const formData = new FormData();
                formData.append('pdf_file', file);
                const response = await axios.post('api/upload-pdf', formData);
                const pdfPath = response.data;

                const res = await axios.get('/api/extract-pdf-data?path=' + pdfPath['path']);
                this.csvData = res.data.data;
                this.exportToExcel(res.data.reference);
            } catch (error) {
                console.error('Error uploading or extracting PDF:', error);
            }
        },
        exportToExcel(filename) {
          const newArray = [
            ["ИИК",	"Вид платежа",	"Источник финансирования",	"Референс",	"Дата",	"№ документа",	"ЕБК",	"Специфика",	"Назначение платежа",	"Сумма по счету",	"ФИО",	"ИИН",	"Лицевой счет получателя",	"Сумма"]
          ];

          this.csvData.forEach(employee => {
            const arr = Object.keys(employee).map((key) => employee[key]);
            newArray.push(arr);
          }); 

          const ws = XLSX.utils.aoa_to_sheet(newArray);
          const wb = XLSX.utils.book_new();
          XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
          XLSX.writeFile(wb, filename + '.csv', {
            bookType: 'csv',
            type: 'blob',
          });
        },
    }
  };
  </script>

<style>
.error_input {
    border: 1px solid aliceblue;
    border-radius: 10px;
}
</style>