<template>
    <div>
      <Nav />
      <div class="stats show_table max-content">
        <div class="flex align-items-center justify-content-space-between stats_wrapper">
            <div class="flex align-items-center">
                <input type="text" v-model="searchChild" class="search_table_child normal_text" placeholder="Поиск...">
                <div class="stats_groups">
                  <select @change.capture="selectGroup($event)"  required>
                    <option :value="0"> Все группы </option>
                    <option v-for="(group , k)  in (groups)" :key="k" :value="group.id"> {{group.name}} </option>
                  </select>
                </div>
                <input class="mx-3 px-2 py-1 normal_text stats_month" type="month" name="month" v-model="selectedMonth" required>
                <div class="stats_desc flex align-items-center mx-3">
                    <div class="mx-2 missing_circle"></div>
                    <div class="normal_xs_text">Пропуск</div>
                </div>
                <div class="stats_desc flex align-items-center mr-3">
                    <div class="mx-2 wekeend_circle"></div>
                    <div class="normal_xs_text">Отпуск</div>
                </div>
                <div class="stats_desc flex align-items-center mr-3">
                    <div class="mx-2 sick_circle"></div>
                    <div class="normal_xs_text">Больничный</div>
                </div>
                <div class="stats_desc flex align-items-center mx-3">
                    <div class="mx-2 edited_missing_circle"></div>
                    <div class="normal_xs_text"> <span> Отред.пропуск </span> </div>
                </div>
                <div class="stats_desc flex align-items-center mr-3">
                    <div class="mx-2 edited_wekeend_circle"></div>
                    <div class="normal_xs_text"> <span> Отред.отпуск </span> </div>
                </div>
                <div class="stats_desc flex align-items-center mr-3">
                    <div class="mx-2 edited_sick_circle"></div>
                    <div class="normal_xs_text"> <span> Отред.больничный </span> </div>
                </div>
            </div>
            <div class="childs_export_excel" @click="exportTableToExcel()">
                <div class="icon_excel"></div>
                <div class=""> Скачать в excel </div>
            </div>
        </div>
        <div class="scroll_style attendance_table" style="width: 100%; height: 92%; overflow: scroll;">
            <table class="table_child w-100" ref='childTable'>
                <thead>
                    <tr>
                        <th colspan="5">
                            <div class="hide_none">
                                {{ user.name }} 
                            </div>
                        </th>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th colspan="4">
                            <div class="hide_none">
                              Приложение 85
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="5">
                          <div class="hide_none">
                              Наименование учреждения
                          </div>
                        </th>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th colspan="4">
                          <div class="hide_none">
                            к приказу и.о. Министра финансов
                          </div>
                        </th>
                    </tr>
                    <tr>
                      <th></th><th></th><th></th><th></th><th></th>
                      <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                      <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                      <th colspan="4">
                          <div class="hide_none">
                            Республики Казахстан
                          </div>
                      </th>
                    </tr>
                    <tr> 
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th></th><th></th><th></th>
                        <th colspan="4">
                            <div class="hide_none">
                                Табель
                            </div>
                        </th>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th colspan="4">
                            <div class="hide_none">
                              от 2 августа 2011 года № 390
                            </div>
                        </th>
                    </tr>
                    <tr> 
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th></th><th></th><th></th>
                        <th colspan="4">
                            <div class="hide_none">
                                учета посещаемости детей
                            </div>
                        </th>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th colspan="4">
                            <div class="hide_none">
                              Форма № 305
                            </div>
                        </th>
                    </tr>
                    <tr> 
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th></th><th></th><th></th>
                        <th colspan="4">
                            <div class="hide_none">
                                 за {{kindergartenTableMonth}}
                            </div>
                        </th>
                    </tr>
                    <tr><th></th></tr>
                    <tr>
                        <th colspan="5">
                            <div class="hide_none">
                              Группа: {{ selectedGroupInfo.name }} 
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <div class="hide_none">
                              Режим группы: {{ selectedGroupInfo.type_group }} 
                            </div>
                        </th>
                    </tr>
                    <tr style="display:table-column">
                        <th>  </th>     <th>  </th>     <th>  </th>     <th>  </th>     <th>  </th>     <th></th>
                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                    </tr>
                    <tr class="center">
                        <th rowspan="2" class="hide_none">
                            <div class="hide_none"> № п/п </div>
                        </th>
                        <th rowspan="2" class="child_to_day_header table_header_rowspan" :style="tableHeaderStyle(header)" :class="hideClass(header)" style="width:5%" v-for="(header , index)  in this.fetchedHeaders" v-if="typeof(header) == 'string'" :key="index">
                            {{ header }}
                        </th>
                        <th class="child_to_day_header" :colspan="amountDays"> Дни посещения </th>
                        <th class="child_to_day_header hide_none" colspan="2"> Пропуще-но дней </th>
                        <th rowspan="2">
                            <div class="hide_none">
                                Причины  непосещения  (основание)
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class="child_to_day_header" :style="tableHeaderStyle(header)" style="width:3%" v-for="(header , index)  in this.fetchedHeaders" v-if="typeof(header) == 'number'" :key="index">
                            {{ header }}
                        </th>
                        <th class="child_to_day_header hide_none"> Всего </th>
                        <th class="child_to_day_header hide_none"> В том чис-ле засчитываемых </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row , childIndex)  in (this.fetchedRows)" :key="childIndex" style="height: 1px;">
                        <td class="hide_none"> 
                            <!-- <div class="hide_none"> -->
                                {{ childIndex + 1 }}
                            <!-- </div> -->
                        </td>
                        <td class="child_to_day_border"> {{ row.name }}</td>
                        <td class="child_to_day_border child_hide">
                            <div class="cells">
                                <div class="missing_day">{{ row.missing }}</div>
                            </div>
                        </td>
                        <td class="child_to_day_border child_hide">
                            <div class="cells">
                                <div class="sick_day">{{ row.sick }}</div>
                            </div>
                        </td>
                        <td class="child_to_day_border child_hide">
                            <div class="cells">
                                <div class="wekeend_day">{{ row.wekeend }}</div>
                            </div>
                        </td>
                        <td class="child_to_day_border child_hide" > {{ row.group }}</td>
                        <td class="child_to_day_border" :class="dayClass(row[day])" v-for="(day , index)  in (days)" :key="index">
                            <div class="cells" v-if="row[day].all == 1">
                                <div>{{row[day].attendance}}</div>
                            </div>
                            <div class="cells relative" v-else>
                                <div class="" :class="attendanceClass(row[day])" @click="changeChildStatus($event, row[day].attendance, row[day].type_of_day)">
                                    <div class="" v-if="row[day].type_of_day == 2">
                                        <div class="hide_none" v-if="row[day].type_of_day == 2"> В </div>
                                    </div>
                                    <div class="" v-else>
                                        <div class="hide_none" v-if="row[day].attendance  == 2"> ... </div>
                                        <div class="hide_none" v-else-if="row[day].attendance  == 12"> ... </div> 
                                        <div class="hide_none" v-else> Н </div>
                                    </div>
                                </div>
                                <div class="change_child_status">
                                  <div class="close_change_child_status" @click="closeStatusChangerPopup()">x</div>
                                  <div class="change_child_status_type normal_xs_text" v-for="(availableStatus , statusIndex)  in (availableStatuses)" :key="statusIndex" @click="changeStatus($event, statusIndex, day, row.id)"> {{ availableStatus }}</div>
                                </div>
                            </div>
                        </td>
                        <td> 
                            <div class="hide_none" v-if="row['reason'].attendance  == 0"> ... </div>
                        </td>
                        <td> 
                            <div class="hide_none" v-if="row['reason'].attendance  == 0"> ... </div>
                        </td>
                        <td> 
                            <div class="hide_none" v-if="row['reason'].attendance  == 0"> ... </div>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <th></th><th></th><th></th><th></th><th></th><th></th>
                        <th colspan="2">
                            <div class="hide_none">
                              Воспитатель группы:
                            </div>
                        </th>
                        <th>
                          <div class="hide_none">______________</div>
                        </th>
                        <th colspan="4">
                          <div class="hide_none">{{ selectedGroupInfo.teacher_names}}</div>
                        </th>
                    </tr>
                    <tr>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        <th>
                          <div class="hide_none">(подпись)</div>
                        </th>
                        <th colspan="4">
                          <div class="hide_none">(расшифровка подписи)</div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { mapGetters } from "vuex";
  import Nav from "../../components/Nav";
  import axios from "axios";
  import XLSX from "xlsx-js-style";
  import moment from "moment";
  
  export default {
    name: "Stats",
    components: {
      Nav,
    },
    data() {
      return {
        childToDay: [],
        groups: "",
        selectedGroup: 0,
        typeOfAttendance: "",
        fetchedHeaders: "",
        fetchedKeys: "",
        fetchedRows: "",
        selectedMonth: "",
        searchChild: "",
        selectedToChangeStatus: "",
        selectedGroupInfo: {
          'name': 'Все группы',
          'type_group': "Все возможные режимы",
          'teacher_names': '________________________________________________________'
        },
        listOfStatus: {
          // 2 : "Присутствует",
          4 : "Болеет",
          5 : "Oтпуск",
          6 : "Отсутствует"
        }
      };
    },
    watch: {
      'searchChild': function() {
        this.getChildToDayData();
      },
      'selectedMonth': function() {
        this.getChildToDayData();
      },
      'selectedGroup': function() {
        this.getChildToDayData();
      }
    },
    computed: {
      ...mapGetters(["user"]),
      kindergartenTableMonth() {
        const options = { month: 'long', year: 'numeric' };
        return (new Date(this.selectedMonth)).toLocaleDateString('ru-RU', options);
      },
      availableStatuses() {
        if (this.selectedToChangeStatus > 10) this.selectedToChangeStatus  = this.selectedToChangeStatus - 10;

        const filteredListOfStatus = Object.entries(this.listOfStatus)
        .filter(([key]) => key != this.selectedToChangeStatus)
        .reduce((acc, [key, value]) => {
          acc[key] = value;
          return acc;
        }, {});

        return filteredListOfStatus;
      },
      days() {
        let days = [];
        Object.values(this.fetchedHeaders).forEach ( item => {
          if ( typeof(item) == 'number') {
            days.push(item);
          }
        });
        return days;
      },
      amountDays() {
        let month = new Date(this.selectedMonth).getMonth() + 1;
        let countDays = new Date(2023, month, 0).getDate();
        return countDays;
      },
      currentMonth() {
        const currentDate = new Date();
        const year = currentDate.getFullYear();
        const month = (currentDate.getMonth() + 1).toString().padStart(2, '0');

        const formattedDate = `${year}-${month}`;
        return formattedDate;
      }
    },
    methods: {
      selectGroup(event) {
        this.selectedGroup = event.target.value;

        if ( this.selectedGroup == 0) {
          this.selectedGroupInfo.name = "Все группы"
          this.selectedGroupInfo.type_group = "Все возможные режимы";
          this.selectedGroupInfo.teacher_names = "________________________________________________________"
        } else {
          this.selectedGroupInfo = Array.from(this.groups).filter((group) => {
            if (group.id == event.target.value) {
              group.teacher_names = Object.values(group.teacher_names).join(', ');
              return group; 
            }
          })[0];
        }
      },
      async getGroups() {
        const res = await axios.get('/api/get-org-groups');
        this.groups = res.data;
      },
      changeChildStatus(event, status, type_of_day) {
        if ( status != 2 && this.selectedMonth == this.currentMonth) {
          const elements = document.getElementsByClassName("change_child_status");
          
          const blockElements = Array.from(elements).filter((element) => {
            return element.style.display == "block";
          });
          
          if(blockElements.length != 0){
            if (blockElements[0].style) {
              blockElements[0].style.display = "none";
            }
          }
          
          if (type_of_day !== 2) {
            this.selectedToChangeStatus = status
            if (event.target.nextSibling.nextSibling) {
              event.target.nextSibling.nextSibling.style.display = "block";
            }
          }
        }
      },
      async changeStatus(event, statusToChanged, day, childrenIndex) {
        let month = new Date(this.selectedMonth).getMonth() + 1;
        const response = await axios.post('/api/change-child-status', {
          status: statusToChanged,
          day: day,
          children: childrenIndex,
          month: month
        });
        this.getChildToDayData();
        event.target.parentElement.style.display = "none";
      },
      closeStatusChangerPopup() {
        const elements = document.getElementsByClassName("change_child_status");

        const blockElements = Array.from(elements).filter((element) => {
          return element.style.display == "block";
        });
        blockElements[0].style.display = "none";
      },
      tableHeaderStyle(header){
        if (header == 'ФИО') {
          return "width: 20%;"
        } else if (typeof(header) == 'string') {
          return "width: 5%;"
        } else if (typeof(header) == 'number') {
          return "width: 2% !important;"
        }
      },
      hideClass(header) {
        if ( header !== 'ФИО') {
          return 'child_hide';
          // console.log(header);
        }
      },
      dayClass(dayType) {
        if (dayType.type_of_day == 2) {
          return "relax_day";
        }
      },
      attendanceClass(attendance) {
        if (attendance.attendance == 6 && attendance.type_of_day != 2) {
          return "missing_day";
        } else if (attendance.attendance == 4) {
          return "sick_day";
        } else if (attendance.attendance == 5) {
          return "wekeend_day";
        } else if (attendance.attendance == 14) {
          return "edited_sick_day";        
        } else if (attendance.attendance == 15) {
          return "edited_wekeend_day";
        } else if (attendance.attendance == 16) {
          return "edited_missing_day";
        } else if (attendance.attendance == 12) {
          return "edited_attended_day";
        } else{
          return "attended_day";
        }
      },
      classOfAttendance() {
        if (this.typeOfAttendance == 'missing') {
          return 'missing_day';
        } else if (this.typeOfAttendance == 'sick') {
          return 'sick_day';
        } else if (this.typeOfAttendance == 'weekend') {
          return 'wekeend_day';
        }
      },
      async getChildToDayData() {
        let month = new Date(this.selectedMonth).getMonth() + 1;
        
        const table = await axios.get('/api/get-child-to-day?month=' + month + '&group_id=' + this.selectedGroup);

        this.fetchedHeaders = table.data.headers;
        this.fetchedKeys = table.data.keys;

        if (this.searchChild) {
          const filteredChild = Object.entries(table.data.data).reduce((acc, [key, value]) => {
            if ( value.name.toLowerCase().includes(this.searchChild.toLowerCase())) {
              acc[key] = value;
            }
            return acc;
          }, {});
          this.fetchedRows = filteredChild
        } else {
          this.fetchedRows = table.data.data;
        }
      },
      exportTableToExcel() {
        var wb = XLSX.utils.book_new();
        var ws = XLSX.utils.table_to_sheet(document.querySelector('.table_child'));
        document.querySelector('.hide_none').classList.add('show_table');

        ws['!cols'] = [{ width: 5 },{ width: 40 }, { width: 15 }, { width: 15 }, { width: 15 }, { width: 15 }];
        ws['!margins'] = { top: 1.25, bottom: 1.25, header: 1.5, footer: 0.75 };
        ws['!cols'][2] = { hidden: true };
        ws['!cols'][3] = { hidden: true };
        ws['!cols'][4] = { hidden: true };
        ws['!cols'][5] = { hidden: true };

        const border = { 
          top: { style: 'thin', color: 'black' },
          bottom: { style: 'thin', color: 'black' },
          left: { style: 'thin', color: 'black' },
          right: { style: 'thin', color: 'black' }
        };
        const borderBottom = {
          bottom: { style: 'thin', color: 'black' }
        };

        const alignment = {
          vertical: 'center',
          horizontal: 'center',
          wrapText: true
        };

        Object.keys(ws).forEach((cell) => {
          if (cell !== '!ref' && cell !== '!fullref' && cell !== '!merges' && cell !== '!margins') {
            const style = ws[cell].s || {};
            if (ws[cell].v == '..' ) {
              style.border = borderBottom;
            } else {
              style.border = border;
            }
            style.alignment = alignment;
            style.padding = { top: 5, bottom: 5, left: 5, right: 5 };
            ws[cell].s = style;

            if ( ws[cell].v == '...' || ws[cell].v == '..' || ws[cell].v == '...xБолеетOтпускОтсутствует') {
              ws[cell].v = ''
            }

            if ( ws[cell].v == 'ВxБолеетOтпускОтсутствует' || ws[cell].v == 'ВxБолеетOтпуск' || ws[cell].v == 'ВxБолеетОтсутствует' || ws[cell].v == 'ВxOтпускОтсутствует') {
              ws[cell].v = 'B';
            }
            if ( ws[cell].v == 'НxБолеетOтпускОтсутствует' || ws[cell].v == 'НxБолеетOтпуск' || ws[cell].v == '...xOтпускОтсутствует'  || ws[cell].v == '...xБолеетOтпуск' ||  ws[cell].v == '...xБолеетОтсутствует'  || ws[cell].v == 'НxOтпускОтсутствует'  || ws[cell].v == 'НxБолеетОтсутствует') {
              ws[cell].v = 'H';
            }
          }
        });

        ws['A1'].s = { border: {}, alignment : { vertical: 'left', horizontal: 'left', wrapText: true }, font: { bold: true, underline: true }};
        ws['A2'].s = { border: {}, alignment : { vertical: 'left', horizontal: 'left', wrapText: true }, font: { sz: 9, italic: true }};
        ws['A8'].s = { border: {}, alignment : { vertical: 'left', horizontal: 'left', wrapText: true }, font: { bold: true }};
        ws['A9'].s = { border: {}, alignment : { vertical: 'left', horizontal: 'left', wrapText: true }, font: { bold: true }};
        ws['T4'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['T5'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['T6'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['AI1'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['AI2'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['AI3'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['AI4'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['AI5'].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['G' + (this.fetchedRows.length + 14)].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['I' + (this.fetchedRows.length + 14)].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['J' + (this.fetchedRows.length + 14)].s = { border: {}, alignment : { vertical: 'center', horizontal: 'center', wrapText: true }, font: { bold: true }};
        ws['I' + (this.fetchedRows.length + 15)].s = { border: {}, alignment : { vertical: 'top', horizontal: 'center', wrapText: true }, font: { sz: 9, italic: true }};
        ws['J' + (this.fetchedRows.length + 15)].s = { border: {}, alignment : { vertical: 'top', horizontal: 'center', wrapText: true }, font: { sz: 9, italic: true }};

        XLSX.utils.book_append_sheet(wb, ws, 'Табель');
        let excel = XLSX.writeFile(wb, 'Табель посещаемости.xlsx');
        // document.querySelector('.show_table').remove('show_table');
        return excel;
      }
    },
    mounted () {
      this.selectedMonth = moment().format('YYYY-MM');
      this.getChildToDayData();
      this.getGroups();
    },
    created() {
    }
  };
  </script>
  
<style>
.stats {
  height: 88vh;
}
.child_hide_column {
  display: none;
}
.stats_groups select {
  margin-left: 15px;
  padding: 3px 20px;
  border: 1px solid #dadada;
  border-radius: 8px;
}
.display_none {
  display: none !important;
}
.change_child_status_type {
  cursor: pointer;
  padding: 10px 20px;
}
.change_child_status_type:hover {
  color: #fff;
  background-color: #b1b1b7;
}
.change_child_status {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(7, 7, 7, 0.25);
  border-radius: 5px;
}
.close_change_child_status {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  right: 3px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: rgb(253, 95, 95);
  border-radius: 5px;
}
.stats_desc {
  margin: 0 5px !important;
}
.stats {
  margin: 1%;
  border: 1px solid #E8F4FC;
  border-radius: 10px;
}
.stats_wrapper {
  padding: 10px;
}
.stats_month {
  font-size: 0.875rem;
  padding: 5px 10px;
  border: 1px solid #DADADA;
  border-radius: 10px;
}
.search_table_child {
  width: 250px;
  font-size: 0.875rem;
  padding: 5px 10px;
  border: 1px solid #DADADA;
  border-radius: 10px;
}
.c_table, .table_child {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  max-height: 100%;
}
.table_child thead {
  position: sticky;
  top: 0;
  z-index: 1001;
}
.table_child thead tr th{
  background-color: #fff !important;
}
.table_child thead tr{
  background-color: #fff !important;
}
.hide_none {
  display: none;
}
.child_to_day_header {       
  font-size: 0.75rem;
  color: #6087A0;
  font-weight: 600;
  text-align: center;
  vertical-align: inherit;
  border: 1px solid #e5eaef;
  padding: 5px;
  line-height: 14px;
  background: white;
  text-transform: uppercase;  
}
.child_to_day_border {
  font-size: 0.75rem;
  color: black;
  text-align: center;
  padding: 10px;
  border: 1px solid #e5eaef;
}
.edited_missing_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px dashed #b1b1b7;
  border-radius: 3px;
  background: #efeff1;
  vertical-align: inherit;
}
.missing_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  background: #b1b1b7;
  vertical-align: inherit;
}
.sick_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  background: #eda774;
  vertical-align: inherit;
}
.edited_sick_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px dashed #eda774;
  border-radius: 3px;
  background: #fbede3;
  vertical-align: inherit;
}
.wekeend_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  background: #4f81bd;
  vertical-align: inherit;
}
.edited_wekeend_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px dashed #4f81bd;
  border-radius: 3px;
  background: #dce6f2;
  vertical-align: inherit;
}
.attended_day {
  cursor: pointer;
  min-width: 20px;
  height: 20px;
  padding: 5px;
}
.edited_attended_day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px dashed black;
  border-radius: 3px;
  background: #fff;
  vertical-align: inherit;
}
.missing_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #b1b1b7;
    border-radius: 50%;
}
.edited_missing_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px dashed #b1b1b7;
    background: #efeff1;
    border-radius: 50%;
}    
.sick_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #eda774;
    border-radius: 50%;
}
.edited_sick_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px dashed #eda774;
    background: #fbede3;
    border-radius: 50%;
}
.wekeend_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #4f81bd;
    border-radius: 50%;
}
.edited_wekeend_circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px dashed #4f81bd;
    background: #dce6f2;
    border-radius: 50%;
}
.relax_day {
    background: #ddf1fa;
}
</style>
  