<template>
    <div class="login_bg">
      <div class="login_wrapper justify-content-center">
        <div class="flex row w-100 justify-content-center">
            <h1 class="text-align-center"> Загрузить sputnik</h1>
            <form @submit.prevent="uploadTarify" class="flex align-items-center normal_sm_text">
              <input type="file" id="file" ref="file" name="file" accept=".xlsx, .xls" :v-model="selectedFile" class="input_excel p-2"/>
              <button type="submit" class="childs_import_excel"> 
                <div class="icon_excel"></div>
                Импортировать
              </button>
            </form>
          </div>
        </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  import XLSX from 'xlsx-js-style';

  export default {
    components: {
      XLSX,
      axios
    },
    data() {
      return {
        csvData: '',
        selectedFile: '',
      };
    },
    methods: {
        uploadTarify() {
          const fileInput = this.$refs.file;
          const file = fileInput.files[0];

          if (file) {
            const formData = new FormData();
            formData.append('file', file);

            axios.post(window.location.origin + '/sputnik-finance-import', formData)
              .then(response => {
                location.reload();
              })
              .catch(error => {
                console.error(error);
              });
          } else {
            alert('Please select an Excel file.');
          }
        },
    }
  };
  </script>