html {
    font-size: 100%;
}
.relative {
    position: relative;
}
.block {
    display: block !important;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.link{
    font-size: 1rem;
    color: white;
}
.light_sm_text {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 400;
}
.light_xs_text {
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 400;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1600px) {
    .teachers_mobile_popup_wrapper {
        width: 70vw !important;
    }
    .logo {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 95%;
    }
    .logo {
        width: 122px !important;
        background-image: url('./../../public/images/middle_logo.svg') !important;
        margin-right: 15px !important;
    }
    .normal_text {
        font-size: 0.9rem !important;
    }
	.login_wrapper {
        /* height: 400px; */
        padding: 40px 50px;
	}
    .login_logo {
        padding: 20px 0;
    }
    .main_teachers_photo {
        width: 30% !important;
        height: 60px !important;
        border-radius: 50%;
    }
    .main_attendance_graph {
        margin-right: 15px;
    }
    .main_attendance_reason_amount {
        font-size: 1.25rem !important;
    }
    .main_attendance_amount {
        font-size: 1.75rem !important;
    }
    .main_left {
        width: 35% !important;
    }
    .main_right {
        width: 64% !important;
    }
    .gray_text {
        font-size: 0.8rem !important;
    }
    .main_childs_status {
        padding: 5px !important;
        margin: 2px !important;
    }
    /* analytics media styles */
    .search_table_child {
        width: 180px !important;
    }
    .group_edit_block input, .group_edit_block select, .group_edit_block option, .main_childs_groups select {
        padding: 7px;
    }
    nav ul li {
        margin: 5px !important;
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 90%;
    }
    .logo {
        width: 35px !important;
        background-image: url('./../../public/images/small_logo.svg') !important;
        margin-right: 15px !important;
    }
    .icon_edit {
        width: 15px !important;
        height: 15px !important;
    }
    .icon_plus {
        width: 15px !important;
        height: 15px !important;
    }
    .icon_excel {
        width: 15px !important;
        height: 15px !important;
    }
    /* registration media styles */
	.register_main {
        padding-bottom: 5px;
    }
    .register_info {
        margin-top: 5px;
    }
    .register_info_block {
        margin: 5px 1.6666%;
    }
    .search-container input {
        padding: 5px 10px !important;
    }
    google-map button {
        padding: 15px;
    }
    /* profile media styles */
    .profile_organization_info {
        margin-bottom: 10px !important;
    }
    .profile_organization_header {
        padding: 12px 20px !important;
    }
    .profile_address {
        padding: 12px 20px !important;
    }
    .profile_map {
        height: 300px !important;
    }
    /* childs media styles */
    .childs_import_excel, .childs_export_excel, .childs_add, .childs_edited {
        padding: 7px 14px !important;
    }
    .input_excel {
        font-size: 0.7rem;
    }
    /* groups media style */
    .teachers_mobile_popup_wrapper {
        width: 80vw !important;
    }
    /* teachers media styles */
    .teachers_button {
        padding: 7px 10px 7px 10px !important;
    }
    .teacher_group_block {
        height: 70px !important;
        padding: 10px !important;
        margin: 0 1% 0 0 !important;
    }
    .teachet_groups_title {
        padding: 10px 20px !important;
    }
    /* main page media styles */
    .main_left {
        width: 50% !important;
    }
    .main_right {
        width: 50% !important;
    }
    .main_teachers_blocks {
        min-width: 49.5% !important;
    }
    .main_childs_filter {
        justify-content: flex-end !important;
    }
    .main_childs_groups {
        width: 40% !important;
        padding: 0 !important;
        margin-left: 10px;
    }
    .main_childs_groups select {
        padding: 5px !important;
    }
    .table tbody tr td {
        padding: 10px !important;
    }
    .search_table_child {
        width: 150px !important;
    }
    .missing_circle, .sick_circle, .wekeend_circle, .edited_missing_circle, .edited_sick_circle, .edited_wekeend_circle {
        margin: 0 3px !important;
    }
    .icon_excel {
        margin-right: 5px !important;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }
    /* login media styles */
	.login_wrapper {
        /* height: 300px; */
        width: 350px;
        padding: 30px;
	}
    .login_logo {
        height: 20px;
        padding: 20px 0;
    }
    .login_input {
        padding: 5px;
    }
    .login_title {
        margin-top: 10px;
    }
    .reset_password_button {
        margin: 10px 0;
    }
    .username_icon, .password_icon {
        position: absolute;
        right: 15px;
        width: 15px;
        height: 15px;
    }
    /* navbar media styles */
    .side_navbar {
        display: block !important;
    }
    .navbar_icon {
        margin-right: 20px;
        padding-right: 20px !important;
        border-right: 1px solid #DDDDDD;
    }
    .side_logo {
        width: 100% !important;
        height: 60px !important;
        margin-right: 0 !important;
    }
    .logo {
        height: 60px !important;
    }
    .navbar-nav {
        flex-direction: row !important;
    }
    .navbar-nav .normal_text {
        display: none;
    }
    .navbar-nav a.icon {
        display: block;
    }
    .side_navbar_wrapper {
        display: block;
    }
    .side_navbar li {
        padding: 10px 30px !important;
    }
    .side_navbar li:hover:not(:first-child){
        cursor: pointer;
        background-color: #2EA263;
    }
    .side_navbar li:hover:not(:first-child) a{
        color: white;
        text-decoration: none;
    }
    /* main page media styles */
    .main_page {
        flex-direction: column;
    }
    .main_right {
        width: 100% !important;
    }
    .main_left {
        width: 100% !important;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .main_current_date {
        width: 40% !important;
        margin-right: 1%;
        margin-bottom: 0 !important;
        height: 300px !important;
    }
    .main_attendance_wrapper {
        width: 59% !important;
        height: 300px !important;
    }
    .main_childs_groups {
        width: 20% !important;
    }
    .main_groups_title {
        margin: 20px 0 !important;
    }
    .main_progressbar {
        width: 90% !important;
    }
    .main_teachers_blocks {
        min-width: 33% !important;
    }
    .main_teachers_photo {
        height: 80px !important;
    }
    .main_teachers_wrapper {
        width: 99% !important;
    }
    /* profile styles media css */
    .profile_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 1%;
    }
    .profile_block {
        width: 49% !important;
    }
}

@media screen and (max-width: 900px) {
    .register_info_block {
        width: 47%;
        margin: 5px 1.5%;
    }
    .register_access {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 70%;
    }
    .register_wrapper {
        padding: 20px 50px;
        top: 95%;
    }
    .side_logo {
        background-image: url(./../../public/images/logo_mobile.svg) !important;
    }
    .logo {
        width: 140px !important;
        background-image: url(./../../public/images/logo_mobile.svg) !important;
    }
    .icon img{
        width: 30px !important;
        height: 30px !important;
    }
    .navbar_icon {
        padding-right: 10px !important;
        margin-right: 10px;
    }
    .img-profile {
        width: 40px !important;
        height: 40px !important;
    }
    /* main page media styles */
    .main_current_date {
        display: none !important;
    }
    .main_attendance_wrapper {
        width: 100% !important;
        height: 275px !important;
    }
    .main_progressbar {
        width: 90% !important;
    }
    .main_attendance_graph {
        height: 250px !important;
    }
    .main_teachers_blocks {
        min-width: 49.5% !important;
    }
    /* profile style */ 
    .profile_block {
        width: 98% !important;
    }
    .profile_error {
        padding: 20px !important;
    }
}

@media screen and (max-width: 600px) {
    .register_wrapper {
        padding: 20px 50px;
        top:140%;
    }
    .register_info_block {
        width: 97%;
    }
    .register_info select {
        padding: 5px;
    }
    .register_access {
        margin-top: 50px;
    }
    .register_down {
        flex-direction: column;
    }
    .side_navbar {
        width: 40% !important;
    }
    .side_navbar li {
        padding: 5px 20px !important;
    }
    .main_childs_groups {
        width: 35% !important;
    }
    .forgot_wrapper {
        width: 80%;
    }
    nav ul li {
        margin: 0 !important;
        padding: 0 !important;
    }
    .nav-link {
        padding: 0 !important;
    }
    .img-profile {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 414px) {
    html {
        /* font-size: 70%; */
    }
	.login_wrapper {
        height: max-content;
        width: 250px;
        padding: 15px;
	}
    .login_logo {
        background-image: url(./../../public/images/logo_mobile.svg);
        height: max-content;
        padding: 15px 0;
    }
    .login_input {
        padding: 5px 10px;
    }
    .login_title {
        margin-top: 10px;
    }
    .reset_password_button {
        margin: 10px 0 !important;
    }
    .register_access {
        margin-top: 60px;
        text-align: center;
    }
    .search-container {
        flex-direction: column;
    }
    .search-container button {
        width: 100% !important;
        border-top-right-radius: 0px !important;
    }
    .large_light_text {
        font-size: 1.8rem;
    }
    .username_icon, .password_icon {
      position: absolute;
      right: 15px;
      width: 10px;
      height: 10px;
    }
    .side_navbar {
        width: 50% !important;
    }
    .side_navbar li {
        padding: 5px !important;
    }
    .main_teachers_blocks {
        min-width: 99% !important;
    }
    .main_attendance_wrapper {
        flex-direction: column;
    }
    .main_attendance_wrapper {
        height: max-content !important;
    }
    .main_attendance_tables {
        width: 100% !important;
    }
    .main_attendance_graph {
        width: 100% !important;
        height: 275px !important;
    }
    .main_progressbar {
        width: 85% !important;
    }
    .childs_search {
        width: 100px !important;
        margin-right: 10px;
    }
    .table thead th {
        padding: 5px !important;
    }
    .table tbody tr td {
        padding: 5px !important;
    }
    .profile_settings {
        margin-top: 30px;
    }
}


@media screen and (max-height: 900px) {
    .register_wrapper{
        height: max-content;
    }
}