<template>
    <div class="map_wrapper w-100 h-100">
        <div class="search-container flex" v-if="isRegistration">
          <input
            type="text"
            v-model="address"
            placeholder="Введите адрес"
            @input="updateAddress"
            required
          />
          <button class="add_address" @click="sendDataToParent"> Добавить адрес </button>
        </div>
        <div ref="map" class="google-map"></div>
    </div>
</template>

<script>
import { Loader } from "@googlemaps/js-api-loader";

export default {
  props: {
    isRegistration: Boolean,
    location: String,
    mapAddress: String
  },
  data() {
    return {
      map: null,
      address: "",
      changeableLocation: "",
      geocoder: null,
    };
  },
  watch: {
    'mapAddress': function() {
      this.address = this.mapAddress;
    },
    'address': function() {
      this.updateAddress();
    }
  },
  mounted() {
    const loader = new Loader({
      apiKey: "AIzaSyBVLfwNiqZ5O0Dmyi_56Rnb3aMkGOyJvcI",
      version: "weekly",
    });

    loader.load().then(() => {
      this.initMap();
    });
    this.address = this.mapAddress
  },
  methods: {
    initMap() {
      let location;
      let zoom;

      if ( this.isRegistration ) {
        location = { lat: 51.1605, lng: 71.4704};
        zoom = 10;
      } else {
        let coordinates = this.location.split(',');
        location = { lat: parseFloat(coordinates[0].trim()), lng: parseFloat(coordinates[1].trim())};
        zoom = 15;
      }
      this.map = new google.maps.Map(this.$refs.map, {
        center: location,
        zoom: zoom,
      });
      new google.maps.Marker({
        map: this.map,
        position: location,
      });

      this.geocoder = new google.maps.Geocoder();
    },
    updateAddress() {
      this.geocoder.geocode({ address: this.address }, (results, status) => {
        if (status === "OK" && results[0]) {
          const location = results[0].geometry.location;
          this.map.setCenter(location);
          this.changeableLocation = location.lat() + ", " + location.lng();
          new google.maps.Marker({
            map: this.map,
            position: location,
          });
        }
      });
    },
    sendDataToParent() {
        const dataToParent = {
            address : this.address,
            location : this.changeableLocation,
        };
        this.$emit('data-to-parent', dataToParent);
    }
  },
};
</script>

<style scoped>
.map_wrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.google-map {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-container input {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  margin-right: 10px;
}

.search-container button {
  width: 200px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
}
.search-container button:hover {
  background-color: green;
}
</style>
  