<template>
    <div class="child_to_day_page">
        <Nav/>

        <b-modal
            id="modal-2"
            v-model="isFilter"
            title="Фильтр"
            ok-title="Применить"
            cancel-title="Отмена"
            @ok="updatePage"
        >
            <div class="text-align-center" style="width: 100%">
                <div class="child_to_day_select_graphs w-100 mb-3">
                    <div class="child_to_day_select_graph px-3" :class="budgetGraph()" @click="changeBudgetToAmount('budget')"> Сумма </div>
                    <div class="child_to_day_select_graph px-3" :class="amountGraph()" @click="changeBudgetToAmount('amount')"> Количество </div>
                </div>
                <div class="child_to_day_select mb-3">
                    <div> Период c </div>
                    <input class="mx-2 px-2" type="month" name="date_start" :max="endDate" v-model="startDate" required>
                    <div> по </div>
                    <input class="mx-2 px-2" type="month" name="date_end" :min="startDate" :max="currentDate" v-model="endDate" required>
                </div>
                <div class="child_to_day_select mb-3" v-if="regions">
                    <div> Регионы </div>
                    <select
                        @change.capture="onChange($event)"
                        class="w-100 p-1 mx-1 dashboard_select_government"
                    >
                        <option v-for="(region , index)  in (regions)" :key="index" :value="region.id" style="padding: 5px"> {{region.region}} </option>
                    </select>
                </div>
            </div>
      </b-modal>
        <div class="child_to_day_parameters" v-if="isLargeScreen">
            <div class="child_to_day_parameter">
                <div class="child_to_day_parameter">
                    <div class="child_to_day_select_graphs mx-3">
                        <div class="child_to_day_select_graph px-3" :class="budgetGraph()" @click="changeBudgetToAmount('budget')"> Сумма </div>
                        <div class="child_to_day_select_graph px-3" :class="amountGraph()" @click="changeBudgetToAmount('amount')"> Количество </div>
                    </div>
                </div>
                <div class="child_to_day_select">
                    <div> Период c </div>
                    <input class="mx-2 px-2" type="month" name="date_start" :max="endDate" v-model="startDate" required>
                    <div> по </div>
                    <input class="mx-2 px-2" type="month" name="date_end" :min="startDate" :max="currentDate" v-model="endDate" required>
                </div>
                <div class="child_to_day_select px-3 mr-3" style="border-left: 1px solid #b9b9b9; border-right: 1px solid #b9b9b9" v-if="regions">
                    <div> Регионы </div>
                    <select
                        @change.capture="onChange($event)"
                        class="w-100 p-1 mx-1 dashboard_select_government"
                    >
                        <option v-for="(region , index)  in (regions)" :key="index" :value="region.id" style="padding: 5px"> {{region.region}} </option>
                    </select>
                </div>
            </div>            
            <div class="last_downloaded_date mx-3" style="display: flex; flex-direction: column;">
                <button class="last_downloaded_date" style=" border: transparent; background-color: transparent; position: relative; top: -1px;" @click="updateAttendance()">  Обновить </button>
            </div>
        </div>
        <div class="child_to_day_parameters_md" v-if="!isLargeScreen">
            <div class="flex align-items-center">
                <div class="flex child_to_day_select_graphs">
                    <div class="child_to_day_select_graph px-3" :class="tableClass()" @click="changeTableToGraph('table')"> Таблица </div>
                    <div class="child_to_day_select_graph px-3" :class="graphClass()" @click="changeTableToGraph('graph')"> Графики </div>
                </div>
                <div class="ml-3" @click="isFilter = true"> Фильтр</div>
            </div>
            <div class="last_downloaded_date mx-3" style="display: flex; flex-direction: column;">
                <button class="last_downloaded_date large_text" style=" border: transparent; background-color: transparent; position: relative; top: -1px;" @click="updateAttendance()">  Обновить </button>
            </div>
        </div>
        <div class="child_to_day">
            <div class="child_to_day_table" v-if="currentComponent == 'table' || isLargeScreen">
                <div class="child_to_day_head">
                    <div class="child_to_day_title" v-if="currentPage == 'amount'" >План/Факт отметок</div>
                    <div class="child_to_day_title" v-if="currentPage == 'budget'" >План/Факт бюджет</div>
                    <div class="child_to_day_unit" v-if="currentPage == 'amount'">количество</div>
                    <div class="child_to_day_unit" v-if="currentPage == 'budget'">тыс. тенге</div>
                </div>
                <div class="child_to_day_search">
                    <input type="text" v-model="searchKindergarten" class="search_table" placeholder="Поиск..." style="font-size: 14px; width: 30%;">
                    <button class="btn mr-3" style="font-size: 12px; background-color: #5F46C5; color: white; margin-right: 20px;" @click="exportToExcel"> Скачать в excel</button>
                </div>
                <div class="c_d_table scroll_style">
                    <table class="c_table w-100" id="myTable">
                        <thead>
                            <tr class="center">
                                <th rowspan="2" class="child_to_day_header child_to_day_header_empty"></th>
                                <th rowspan="2" class="child_to_day_header child_to_day_header_name"> НАИМЕНОВАНИЕ </th>
                                <th rowspan="2" class="child_to_day_header child_to_day_header_amount"> КОЛ-ВО ГРУПП </th>
                                <th rowspan="2" class="child_to_day_header child_to_day_header_amount"> ПЛАН. КОЛ-ВО ДЕТЕЙ </th>
                                <th rowspan="2" class="child_to_day_header child_to_day_header_amount"> ФАКТ. КОЛ-ВО ДЕТЕЙ </th>
                                <th colspan="2" class="child_to_day_header" v-for="monthName in months['names']" :key="monthName" :data-th="monthName">
                                    {{ monthName }}
                                </th>
                            </tr>
                            <tr>
                                <th class="child_to_day_header" v-for="(monthAttribute, index) in months['attributes']" :key="index" :data-th="monthAttribute">
                                    {{ monthAttribute }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item , index)  in (arrayTreeObj)" :key="index" :class="classByLevel(item, index)" style="height: 1px;" @click="setClassOnclick(item, index, $event)">
                                <td class="child_to_day_border" style="width:30px"></td>
                                <td data-th="Названия строк" class="child_to_day_border child_to_day_table_name text_left" style="text-align: left; height: inherit;" @click="toggle(item)">                                     
                                    <div class="child_to_day_table_name_block" :style="setPadding(item)">
                                        <div :class="iconName(item)" class="h-100 px-3"></div>
                                        <div class="child_to_day_table_name_title" v-on:dblclick="counter += 1, showTable(item)"> {{ item.name }} </div> 
                                    </div>
                                </td>
                                <td data-th="group_amount" class="child_to_day_border child_to_day_table_numbers"> {{ item.data[lastMonth].group }} </td>
                                <td data-th="child_amount" class="child_to_day_border child_to_day_table_numbers"> {{ item.data[lastMonth].child_amount_plan.toLocaleString() }}</td>
                                <td data-th="child_amount" class="child_to_day_border child_to_day_table_numbers"> {{ item.data[lastMonth].child_amount_fact.toLocaleString() }}</td>
                                
                                <td class="child_to_day_border child_to_day_table_numbers" :class="classOfAttribute(item, index)" v-for="(monthNumber, index) in months['numbers']" :key="index" :data-th="monthNumber">
                                    {{ formatter(item, monthNumber, index) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div name="kindergartentable" class="modal_table" v-show="isShowTarify && currentPage == 'budget'">
                    <div class="modal_container_table">
                        <div class="child_to_day_head" style="align-items: flex-start;">
                            <div class="child_to_day_head_formula">
                                <div> <strong>Наименование организации:</strong> {{selectedTitle}} </div>
                                <div> <strong>Область:</strong> {{this.budgetData['oblast_name']}} </div>  
                                <div> <strong>Территориальная принадлежность: </strong> {{(this.budgetData['type_city']) == 'selo' ? 'село' : 'город'}} </div>
                                <div v-if="this.budgetData['type_ecolog'] == 'normal'"> <strong>Статус региона:</strong> Обычный регион  </div>
                                <div v-if="this.budgetData['type_ecolog'] == 'eco'">    <strong>Статус региона:</strong> В зоне радиации </div>
                                <div v-if="this.budgetData['type_ecolog'] == 'rad'">    <strong>Статус региона:</strong> В зоне экологии </div>
                            </div>
                            <div class="close" style="margin:10px" @click="closeTarify"></div>
                        </div>
                        <div class="child_to_day_head">
                            <input class="mx-3 px-2 py-1" type="month" name="date_start" :min="startDate" :max="currentDate" v-model="kindergartenDate" required style="font-size: 14px; width: 200px;">
                            <div class="kindergarten_filter">
                                <div class="child_to_day_title"> ФОРМУЛА: БЮДЖЕТ = ТАРИФ / КОЛ-ВО РАБ. ДНЕЙ * КОЛ-ВО ПОСЕЩЕНИИ </div>
                            </div>
                            <div class="mx-2" style="font-size: 14px;color: black;">
                                <button class="btn mx-3" style="cursor: pointer; font-size: 12px; background-color: #5F46C5; color: white;" @click="exportTarifyToExcel"> Скачать в excel</button>
                            </div>
                        </div>
                        <div style="overflow-y: scroll; height: 70%;" class="scroll_style">                            
                            <table class="table_tarify w-100" ref='childTarify'>
                                <thead>
                                    <tr ><th></th></tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="5">
                                            <div class="hide_none"> <strong>Наименование организации:</strong> {{selectedTitle}} </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="5">
                                            <div class="hide_none"> <strong>Область:</strong> {{this.budgetData['oblast_name']}} </div>  
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="5">
                                            <div class="hide_none"> <strong>Территориальная принадлежность: </strong> {{(this.budgetData['type_city']) == 'selo' ? 'село' : 'город'}} </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="5">
                                            <div class="hide_none" v-if="this.budgetData['type_ecolog'] == 'normal'"> <strong>Статус региона:</strong> Обычный регион  </div>
                                            <div class="hide_none" v-if="this.budgetData['type_ecolog'] == 'eco'">    <strong>Статус региона:</strong> В зоне радиации </div>
                                            <div class="hide_none" v-if="this.budgetData['type_ecolog'] == 'rad'">    <strong>Статус региона:</strong> В зоне экологии </div>
                                        </th>
                                    </tr>                
                                    <tr ><th></th></tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="5">
                                            <div class="hide_none"> Таблица расчета бюджета за {{kindergartenTableMonth}} </div>
                                        </th>
                                    </tr>
                                    <tr ><th></th></tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="5">
                                            <div class="hide_none"> ФОРМУЛА: БЮДЖЕТ = ТАРИФ / КОЛ-ВО РАБ. ДНЕЙ * КОЛ-ВО ПОСЕЩЕНИИ </div>
                                        </th>
                                    </tr>
                                    <tr ><th></th></tr>
                                    <tr class="center">
                                        <th class="child_to_day_header" style="padding: 15px"> Группа</th>
                                        <th class="child_to_day_header" style="padding: 15px"> Тариф </th>
                                        <th class="child_to_day_header" style="padding: 15px"> Кол-во детей </th>
                                        <th class="child_to_day_header" style="padding: 15px"> Кол-во раб. дней</th>
                                        <th class="child_to_day_header" style="padding: 15px"> Проектная мощность</th>
                                        <th class="child_to_day_header" style="padding: 15px"> Фактическая кол-во</th>
                                        <th class="child_to_day_header" style="padding: 15px"> Плановый бюджет </th>
                                        <th class="child_to_day_header" style="padding: 15px"> Фактический бюджет </th>
                                    </tr>
                                </thead>
                                <tbody v-if="this.budgetData">
                                    <tr v-for="(budgetData, index) in this.budgetData['groups']" :key= index>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['group']}}</td>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['tarify'].toLocaleString()}}</td>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['child_amount']}}</td>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['working_days']}}</td>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['amount_plan'].toLocaleString()}}</td>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['amount_fact'].toLocaleString()}}</td>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['budget_plan'].toLocaleString()}}</td>
                                        <td class="child_to_day_border" v-if="budgetData">{{budgetData['budget_fact'].toLocaleString()}}</td>
                                    </tr>
                                    <tr>
                                        <td class="child_to_day_border" >Все группы</td>
                                        <td class="child_to_day_border" > - </td>
                                        <td class="child_to_day_border" v-if="this.budgetData">{{this.budgetData['child_amount']}}</td>
                                        <td class="child_to_day_border" v-if="this.budgetData">{{this.budgetData['working_days']}}</td>
                                        <td class="child_to_day_border" v-if="this.budgetData">{{this.budgetData['amount_plan'].toLocaleString()}}</td>
                                        <td class="child_to_day_border" v-if="this.budgetData">{{this.budgetData['amount_fact'].toLocaleString()}}</td>
                                        <td class="child_to_day_border" v-if="this.budgetData">{{this.budgetData['budget_plan'].toLocaleString()}}</td>
                                        <td class="child_to_day_border" v-if="this.budgetData">{{this.budgetData['budget_fact'].toLocaleString()}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div name="kindergartentable" class="modal_table" width="70%" height="auto" v-show="isShowTable && currentPage == 'amount'">
                    <div class="modal_container_table">
                        <div class="child_to_day_head">
                            <div class="child_to_day_title"> {{selectedTitle}} </div>
                            <div class="close" @click="closeTable"></div>
                        </div>
                        <div class="kindergarten_filter" style="justify-content:space-between;">
                            <div class="kindergarten_filter">
                                <input type="text" v-model="searchChild" class="search_table" placeholder="Поиск..." style="font-size: 14px; width: 30%;">
                                <div class="stats_groups">
                                  <select @change.capture="selectGroup($event)"  required>
                                    <option :value="0"> Все группы </option>
                                    <option v-for="(group , k)  in (groups)" :key="k" :value="group.id"> {{group.name}} </option>
                                  </select>
                                </div>
                                <input class="mx-3 px-2 py-1 normal_text stats_month" type="month" name="date_start" :min="startDate" :max="currentDate" v-model="kindergartenDate" required>
                                <div class="kindergarten_filter mx-3" v-if="!isMiddleScreen">
                                    <div class="mx-2 missing_circle"></div>
                                    <div style="font-size: 12px;color: black;">Пропуск</div>
                                </div>
                                <div class="kindergarten_filter mr-3" v-if="!isMiddleScreen">
                                    <div class="mx-2 wekeend_circle"></div>
                                    <div style="font-size: 12px;color: black;">Отпуск</div>
                                </div>
                                <div class="kindergarten_filter mr-3" v-if="!isMiddleScreen">
                                    <div class="mx-2 sick_circle"></div>
                                    <div style="font-size: 12px;color: black;">Больничный</div>
                                </div>
                                <div class="kindergarten_filter mx-3" v-if="!isMiddleScreen">
                                    <div class="mx-2 edited_missing_circle"></div>
                                    <div style="font-size: 12px;color: black;"> <span> Отред.пропуск </span> </div>
                                </div>
                                <div class="kindergarten_filter mr-3" v-if="!isMiddleScreen">
                                    <div class="mx-2 edited_wekeend_circle"></div>
                                    <div style="font-size: 12px; color: black;"> <span> Отред.отпуск </span> </div>
                                </div>
                                <div class="kindergarten_filter mr-3" v-if="!isMiddleScreen">
                                    <div class="mx-2 edited_sick_circle"></div>
                                    <div style="font-size: 12px; color: black;"> <span> Отред.больничный </span> </div>
                                </div>
                            </div>
                            <div class="mx-2" style="font-size: 14px;color: black;">
                                <button class="btn mx-3" style="font-size: 12px; background-color: #5F46C5; color: white;" @click="exportTableToExcel"> Скачать в excel</button>
                            </div>
                        </div>
                        <div class="scroll_style" style="width: 100%; height: 88%; overflow: scroll;">
                            <table class="table_child w-100" ref='childTable'>
                                <thead>
                                    <tr ><th></th></tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="10">
                                            <div class="hide_none">
                                                {{selectedTitle}}
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th colspan="10">
                                            <div class="hide_none">
                                                Наименование государственного учреждения (централизованной бухгалтерии)
                                            </div>
                                        </th>
                                    </tr>
                                    <tr><th></th></tr>
                                    <tr><th></th></tr>
                                    <tr> 
                                        <th></th>
                                        <th colspan="10">
                                            <div class="hide_none">
                                                Табель учета посещаемости детей за {{kindergartenTableMonth}}
                                            </div>
                                        </th>
                                    </tr>
                                    <tr><th></th></tr>
                                    <tr style="display:table-column">
                                        <th>  </th>     <th>  </th>     <th>  </th>     <th>  </th>     <th>  </th>     <th></th>
                                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                                        <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>     <th>..</th>
                                    </tr>
                                    <tr class="center">
                                        <th rowspan="2">
                                            <div class="hide_none"> № п/п </div>
                                        </th>
                                        <th rowspan="2" class="child_to_day_header" :style="tableHeaderStyle(header)" style="width:5%" v-for="(header , index)  in this.fetchedHeaders" v-if="typeof(header) == 'string'" :key="index">
                                            {{ header }}
                                        </th>
                                        <th class="child_to_day_header" :colspan="amountDays"> Дни </th>
                                        <th rowspan="2">
                                            <div class="hide_none">
                                                Причины  непосещения  (основание)
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                         <th class="child_to_day_header" :style="tableHeaderStyle(header)" style="width:3%" v-for="(header , index)  in this.fetchedHeaders" v-if="typeof(header) == 'number'" :key="index">
                                            {{ header }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(row , index)  in (this.fetchedRows)" :key="index" style="height: 1px;">
                                        <td> 
                                            <div class="hide_none">
                                                {{ index + 1 }}
                                            </div>
                                        </td>
                                        <td class="child_to_day_border"> {{ row.name }}</td>
                                        <td class="child_to_day_border">
                                            <div class="cells">
                                                <div class="missing_day">{{ row.missing }}</div>
                                            </div>
                                        </td>
                                        <td class="child_to_day_border ">
                                            <div class="cells">
                                                <div class="sick_day">{{ row.sick }}</div>
                                            </div>
                                        </td>
                                        <td class="child_to_day_border ">
                                            <div class="cells">
                                                <div class="wekeend_day">{{ row.wekeend }}</div>
                                            </div>
                                        </td>
                                        <td class="child_to_day_border" > {{ row.group }}</td>
                                        <td class="child_to_day_border" :class="dayClass(row[day])" v-for="(day , index)  in (days)" :key="index">
                                            <div class="cells" v-if="row[day].all == 1">
                                                <div>{{row[day].attendance}}</div>
                                            </div>
                                            <div class="cells" v-else>
                                                <div :class="attendanceClass(row[day])">
                                                    <div class="" v-if="row[day].type_of_day == 2">
                                                        <div class="hide_none" v-if="row[day].type_of_day == 2"> В </div>
                                                    </div>
                                                    <div class="" v-else>
                                                        <div class="hide_none" v-if="row[day].attendance  == 2"> ... </div>
                                                        <div class="hide_none" v-else-if="row[day].attendance  == 12"> ... </div> 
                                                        <div class="hide_none" v-else> Н </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td> 
                                            <div class="hide_none" v-if="row['reason'].attendance  == 0"> ... </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="child_to_day_graphs" v-if="currentComponent == 'graph' || isLargeScreen">
                <div class="child_to_day_graph mb-2" v-if="currentPage == 'amount'">
                    <div class="child_to_day_head" style="height:10%">
                        <div class="child_to_day_title"> План/Факт отметок </div>
                        <div class="child_to_day_unit"> количество </div>
                    </div>
                    <apexchart type="bar" height="80%" :options="chartsChildToDay.chartOptions" :series="chartsChildToDay.series"></apexchart>
                    <div class="child_to_day_footer" style="height:10%"> <div class="fullscreen" @click="showModal('isChartsChildToDay')"></div> </div>

                    <div name="chartsChildToDay" class="modal_graph" width="70%" height="auto" v-show="isChartsChildToDay">
                        <div class="modal_container">
                            <div class="child_to_day_head">
                                <div class="child_to_day_title"> {{selectedTitle}} </div>
                                <div class="child_to_day_unit"> количество </div>
                            </div>
                            <apexchart type="bar" height="90%" :options="chartsChildToDay.chartOptions" :series="chartsChildToDay.series"></apexchart>
                            <div class="child_to_day_footer"> <div class="shortscreen" @click="closeModal('isChartsChildToDay')"></div> </div>
                        </div>
                    </div>
                </div>

                <div class="child_to_day_graph" v-if="currentPage == 'amount'">
                    <div class="child_to_day_head" style="height:10%">
                        <div class="child_to_day_title"> Отсутсвующие </div>
                        <div class="child_to_day_unit"> количество </div>
                    </div>
                    <apexchart type="bar" height="80%" :options="chartsAttendanceChildToDay.chartOptions" :series="chartsAttendanceChildToDay.series"></apexchart>
                    <div class="child_to_day_footer" style="justify-content: space-between !important; height:10%">
                        <div class="kindergarten_filter">
                            <div class="kindergarten_filter mx-3" style="width:40%">
                            <div class="mx-2 missing_circle"></div>
                                <div style="cursor:pointer; font-size: 14px;color: black;" @click="showAttendance('missing')">Пропуск</div>
                            </div>
                            <div class="kindergarten_filter mr-3" style="width:40%">
                                <div class="mx-2 wekeend_circle"></div>
                                <div style="cursor:pointer; font-size: 14px;color: black;" @click="showAttendance('weekend')">Отпуск</div>
                            </div>
                            <div class="kindergarten_filter mr-3" style="width:40%">
                                <div class="mx-2 sick_circle"></div>
                                <div style="cursor:pointer; font-size: 14px;color: black;" @click="showAttendance('sick')">Больничный</div>
                            </div>
                        </div>
                        <div class="fullscreen" @click="showModal('isChartsAttendanceChildToDay')"></div> 
                    </div>
                    <div name="chartsAttendanceChildToDay" class="modal_graph" width="70%" height="auto" v-show="isKindergartenAttendance && this.amountOfTypeAttendance">
                        <div class="modal_attendance">
                            <div class="child_to_day_head">
                                <div class="child_to_day_title"> {{selectedTitle}} </div>
                                <div class="close" @click="closeAttendance('isKindergartenAttendance')"></div> 
                            </div>
                            <div style="height: 97%; overflow: auto;">
                                <table style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="child_to_day_header" style="width=60%;"> НАИМЕНОВАНИЕ</th>
                                            <th class="child_to_day_header" style="width=40%;" v-if="typeOfAttendance == 'missing'"> Кол-во Пропусков </th>
                                            <th class="child_to_day_header" style="width=40%;" v-if="typeOfAttendance == 'sick'"> Кол-во больничных </th>
                                            <th class="child_to_day_header" style="width=40%;" v-if="typeOfAttendance == 'weekend'"> Кол-во отпусков </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(kindergarten, index)  in (this.amountOfTypeAttendance)" :key="index">
                                            <td class="child_to_day_border" style="width=60%; text-style: left;"> {{ kindergarten.name }}</td>
                                            <td class="child_to_day_border" style="width=40%;" >
                                                <div class="cells">
                                                    <div :class="classOfAttendance">
                                                        {{ kindergarten.sum }}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div name="chartsAttendanceChildToDay" class="modal_graph" width="70%" height="auto" v-show="isChartsAttendanceChildToDay">
                        <div class="modal_container">
                            <div class="child_to_day_head">
                                <div class="child_to_day_title"> {{selectedTitle}} </div>
                                <div class="child_to_day_unit"> количество </div>
                            </div>
                            <apexchart type="bar" height="90%" :options="chartsAttendanceChildToDay.chartOptions" :series="chartsAttendanceChildToDay.series"></apexchart>
                            <div class="child_to_day_footer">
                                <div class="shortscreen" @click="closeModal('isChartsAttendanceChildToDay')"></div> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="child_to_day_graph mb-2" v-if="currentPage == 'budget'">
                    <div class="child_to_day_head" style="height:10%">
                        <div class="child_to_day_title"> План/Факт Бюджет </div>
                        <div class="child_to_day_unit"> тыс. тенге </div>
                    </div>
                    <apexchart type="bar" height="80%" :options="chartsBudgetChildToDay.chartOptions" :series="chartsBudgetChildToDay.series"></apexchart>
                    <div class="child_to_day_footer" style="height:10%"> <div class="fullscreen" @click="showModal('isChartsBudgetChildToDay')"></div> </div>

                    <div name="chartsBudgetChildToDay" class="modal_graph" width="70%" height="auto" v-show="isChartsBudgetChildToDay">
                        <div class="modal_container">
                            <div class="child_to_day_head">
                                <div class="child_to_day_title"> {{selectedTitle}} </div>
                                <div class="child_to_day_unit"> количество </div>
                            </div>
                            <apexchart type="bar" height="90%" :options="chartsBudgetChildToDay.chartOptions" :series="chartsBudgetChildToDay.series"></apexchart>
                            <div class="child_to_day_footer"> <div class="shortscreen" @click="closeModal('isChartsBudgetChildToDay')"></div> </div>
                        </div>
                    </div>
                </div>

                <div class="child_to_day_graph" v-if="currentPage == 'budget'">
                    <div class="child_to_day_head" style="height:10%">
                        <div class="child_to_day_title"> Экономия бюджета </div>
                        <div class="child_to_day_unit"> тыс. тенге </div>
                    </div>
                    <apexchart type="bar" height="80%" :options="chartsBudgetDifferenceChildToDay.chartOptions" :series="chartsBudgetDifferenceChildToDay.series"></apexchart>
                    <div class="child_to_day_footer" style="height:10%"> <div class="fullscreen" @click="showModal('isChartsBudgetDifferenceChildToDay')"></div> </div>

                    <div name="chartsBudgetDifferenceChildToDay" class="modal_graph" width="70%" height="auto" v-show="isChartsBudgetDifferenceChildToDay">
                        <div class="modal_container">
                            <div class="child_to_day_head">
                                <div class="child_to_day_title"> {{selectedTitle}} </div>
                                <div class="child_to_day_unit"> количество </div>
                            </div>
                            <apexchart type="bar" height="90%" :options="chartsBudgetDifferenceChildToDay.chartOptions" :series="chartsBudgetDifferenceChildToDay.series"></apexchart>
                            <div class="child_to_day_footer"> <div class="shortscreen" @click="closeModal('isChartsBudgetDifferenceChildToDay')"></div> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./child_to_day.js"></script>
<!-- <script src="./graphics.js"></script> -->

<style src="./child_to_day.css" scoped></style>


        
