<template>
    <div>
        <Nav />
        <div class = "container_admin min-vh-90 max-content">
            
            <div class="admin_header w-100 flex justify-content-flex-start align-items-center mb-4">
                <div class="admin_button mr-2" :class="{ 'admin_button_clicked': activeIndex === 0 }" @click="filterQuestions(0, 0)"> Новые ( {{ amounts['new'] }} ) </div>
                <div class="admin_button mr-2" :class="{ 'admin_button_clicked': activeIndex === 1 }" @click="filterQuestions(1, 1)"> В обработке ({{ amounts['waiting']}} ) </div>
                <div class="admin_button"      :class="{ 'admin_button_clicked': activeIndex === 2 }" @click="filterQuestions(2, 2)"> Обработанные ( {{ amounts['done'] }}) </div>
            </div>

            
            <div class="admin_table">
                <div class="">
                    <EditableQuestionTable
                      v-model="filteredQuestions"
                      :fields="fields"
                      :typeOfQuestion = "typeOfQuestion"
                      @submit="handleUpdateQuestion($event)"
                    ></EditableQuestionTable>
                </div>
            </div>

        </div>
    </div>
  </template>
  
<script>
import { mapGetters } from "vuex";
import Nav from "../../../components/Nav";
import EditableQuestionTable from "../../../components/EditableQuestionTable";
import LoadingButton from "../../../components/LoadingButton";
  
export default {
    name: "Groups",
    components: {
        Nav,
        EditableQuestionTable,
        LoadingButton
    },
    data() {
      return {
            filteredQuestions: [],
            amounts: [],
            typeOfQuestion: 0,
            activeIndex: 0,
            fields: [
                { key: 'manager', label: 'ФИО', sortable: true },
                { key: 'organization', label: 'Организация', sortable: true, type: "text", required: true  },
                { key: 'source', label: 'Источник', sortable: true, required: true  },
                { key: 'email', label: 'Email', sortable: true, required: true  },
                { key: 'telephone', label: 'Телефон', sortable: true, required: true  },
                { key: 'date', label: 'Дата', sortable: true, required: true },
                { key: 'problem', label: 'Описание', width: '20%', sortable: true, type: "text", required: true },
                { key: 'edit', label: '', type: "edit"}
            ],
      };
    },
    watch: {
        typeOfQuestion() {
            this.getQuestions();
        }
    },
    computed: {
        ...mapGetters(["user"]),
    },
    methods: {
        async handleUpdateQuestion(question) {
            if (question.id) {
                const response = await axios.post(`/api/admin/questions/update/${question.id}`, { question });
                this.getQuestions();
            }
        },
        filterQuestions(index, type) {
            this.activeIndex = index;
            this.typeOfQuestion = type;
        },
        async getQuestions() {
            const res = await axios.get('/api/admin/get-questions?type=' + this.typeOfQuestion);
            this.filteredQuestions = res.data['questions'];
            this.amounts = res.data['amount'];
            this.filteredQuestions = this.filteredQuestions.map(item => ({...item, isEdit: false}));

            if ( this.filteredQuestions) {
                this.rows = this.filteredQuestions.length;
            } else {
                this.rows = 0;
            }
        }
    },
    created() {
        this.getQuestions();
    }
};
</script>
  
<style>
.container_admin {
    width: 100%;
    padding: 20px;
}
.admin_button {
    cursor: pointer;
    color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7px;
    padding: 10px 15px;
    border: 1px solid var(--main-color, transparent);
}
.admin_button:hover {
    color: var(--main-color, #2EA263);
    border: 1px solid var(--main-color, #2EA263);
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);

}
.admin_button_clicked {
    color: #FFF !important;
    background: var(--main-color, #2EA263);
}
.admin_table {
    width: 100%;
    border-radius: 10px;
    background: #EFF3F5;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.admin_panel {
    padding: 10px 20px;
}
</style>
  