<template>
    <div class="login_bg">
      <div class="forgot_wrapper">
        <div class="normal_light_title mb-3"> Восстановить пароль </div>
        <div class="column justify-content-space-between align-content-center w-100">
          <form autocomplete="off" @submit.prevent="requestResetPassword" method="post" >
            <div class="form-group">
                <label class="login_title light_sm_text" for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
            </div>
            <div class="errors_block light_sm_text" v-if="error"> {{ error }} </div>
            <div class="done_block light_sm_text" v-if="status"> {{ status }} </div>
            <LoadingButton 
              class="reset_password_button light_sm_text mt-4 mb-2" 
              text="Отправить ссылку на смену пароля"
              v-bind:isLoading="isLoading"
            />
          </form>
          <button type="submit" class="btn btn-danger light_sm_text w-100" @click="back()"> Назад </button>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios";
import Nav from "../../components/Nav";
import LoadingButton from "../../components/LoadingButton";

export default {
  name: "Login",
  components: {
    Nav,
    LoadingButton
  },
  data() {
    return {
      isLoading: false,
      email: null,
      error: "",
      status: ""
    };
  },
  methods: {
    async requestResetPassword() {
      this.error = "";
      this.status = "";
      await axios.post(window.location.origin + "/api/forgot", {
        email: this.email,
        created_at: new Date()
      }).then ( response => {
          this.status = response.data.message;
        }
      ).catch (error => {
          this.error = error.response.data.message;
        }
      )
    },
    back() { 
        this.$router.push("/login");
    }
  },
  created(){
  },
};
</script>

<style src="./../../../css/app.css" scoped></style>

<style>
.login_bg {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-image: url(./../../../../public/images/login_bg.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.forgot_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 500px;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.30) 0%, rgba(3, 17, 30, 0.00) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  padding: 50px;
  margin: 0;
}
.login_logo {
  width: 200px;
  height: 40px;
  padding: 50px 0 30px 0;
  background-image: url(./../../../../public/images/login_logo.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.login_title {
  text-align: left;
  margin: 20px 0px 5px 0px;
}
.login_input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #D5DBE2;
  background: #FFF;
}
.login_input::placeholder {
  font-size: 1rem;
}
.reset_password_button {
  border: none;
  background: #2EA263;
  box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
}
.username_wrapper, .password_wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.username_icon, .password_icon {
  position: absolute;
  right: 15px;
}
</style>