<template>
    <div class="teacher_groups">
      <div class="teachet_groups_title">Ответственные группы</div>
      <div class="teachet_groups_list">
        <div class="teachers_no_group" v-if="groups.length == 0 && !isEdited">
          <div class="teachers_no_group_title"> Нет ответственных групп </div>
          <div class="teachers_no_group_alert"> Внимание! Без привязки группы к преподавателю сканирование в приложении недоступно. </div>
        </div>
        <div class="teacher_group_block"
          :class="{ 'group_teacher_hover': isEdited === true }"
          v-for="(group, index) in groups" :key="index"  
          @click="deleteGroupFromTeacher(group)"
        >
          <div class="teacher_group_img" :class="{ 'group_teacher_photo_hover': isEdited === true }"></div>
          <div class="teacher_group_info">
            <div class="teacher_group_name"> {{ teacherInfo.group_names[group].group_name }} </div>
            <div class="teacher_group_count"> Детей : {{ teacherInfo.group_names[group].childs_amount }}</div>
          </div>
        </div>
        <div class="teacher_group_add" v-if="isEdited" @click="showOtherGroups()">
            <div class="teacher_group_add_img"></div>
            <div class="teacher_group_add_title">Добавить группу</div>
            <div class="teacher_group_add_wrapper" v-if="isAddGroupsShowed">
              <div class="flex justify-content-end">
                <div class="icon_close left"></div>
              </div>
              <div class="teacher_add_group" v-for="(addGroup, index) in addGroups" :key="index" @click="addGroupToTeacher(addGroup)">
                  <div class="flex justify-content-space-between align-items-center">
                    <div class="teacher_group_img"></div>
                    <div class="teacher_group_info">
                      <div class="teacher_group_name"> {{ addGroup.name }} </div>
                      <div class="teacher_group_count"> Детей : {{ addGroup.childs_amount }}</div>
                      <div class="teacher_group_count"> Воспитатель : {{ teacherNames(addGroup.teacher_names) }}</div>
                    </div>
                  </div>
                  <div style="width: 30px;">
                    <div class="teacher_group_add_icon" ></div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  
  export default {
    name: "teacherGroupInfo",
    props: {
      teacherInfo: Object,
      isEdited: Boolean,
      isAddGroupsShowed: Boolean,
    },
    data() {
      return {
        addGroups: [],
      };
    },
    components: {
    },
    watch: {

    },
    computed: {
      groups() {
        return Object.keys(this.teacherInfo.group_names);
      },
    },
    methods: {
        teacherNames(teacherNames) {
          return (Object.values(teacherNames).join(',')) ? Object.values(teacherNames).join(',') : "Нет привязанных воспитателей";
        },
        deleteGroupFromTeacher(groupId) {
          if ( this.isEdited ) {
            axios.put(`/api/teachers/delete-group/${this.teacherInfo.id}`, { 
              id_group: groupId,
            })
            .then(response => {
              this.$emit('update-teachers');
              // this.$emit('update-is-edit');
              console.log(response.data.message);
            })
            .catch(error => {
              console.error(error);
            });
          }
        },
        showOtherGroups() {
          this.getGroups();
          this.$emit('toggle-is-show-groups');
        },
        async getGroups() {
          const res = await axios.get('/api/get-other-groups?id_teacher=' + this.teacherInfo.id);
          this.addGroups = res.data;
        },
        addGroupToTeacher(selectedGroup) {
          axios.put(`/api/teachers/add-group/${this.teacherInfo.id}`, {
                id_group: selectedGroup.id
              })  
              .then(response => {
                this.$emit('update-teachers');
                // this.$emit('update-is-edit');
                console.log(response.data.message);
              })
              .catch(error => {
                console.error(error);
              });
        }
    },
    mounted() {
    }
  };
  </script>

  <style>
    .teacher_group_add_wrapper {
      position: absolute;
      top: 110%;
      left: -160px;
      z-index: 100;
      width: 450px;
      height: max-content;
      max-height: 300px;
      border-radius: 10px;
      border: 1px solid rgba(67, 70, 86, 0.25);
      background: #FFF;
      box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
      overflow-y: scroll;
    }
    .teacher_add_group {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 15px;
      border-top: 1px solid #43465640;
    }
    .teacher_add_group:hover{
      background-color: #43465640;
      border: none;
    }
    .teacher_add_group:hover .teacher_group_add_icon {
      display: block;
    }
    .teachers_no_group  {
      max-width: 250px;
    }
    .teachers_no_group_title {
      color: var(--text-muted-color, rgba(67, 70, 86, 0.70));
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
    }
    .teachers_no_group_alert {
      color: #EB5757;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .teacher_group_add {
        position: relative;
        cursor: pointer;
        width: 31%;
        min-width: 30%;
        height: 90px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        padding: 15px 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px dashed var(--main-color, #2EA263);
    }
    .teacher_group_add_title {
        color: var(--main-color, #2EA263);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .teacher_group_add_img {
        width: 50px;
        height: 50px;
        border: 1px solid #2EA263;
        background-image: url(./../../../../public/images/group_add.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100px;
        margin-right: 10px;
    }
    .teacher_group_add_icon {
        display: none;
        width: 50px;
        height: 50px;
        background-image: url(./../../../../public/images/icon_add.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
  </style>
  