<template>
    <div class="teacher_groups" style="border-top: 0.5px solid #434656;">
      <div class="teachet_groups_title"> Пирвязанное устройства </div>
      <div class="teachet_groups_list">
        <div class="teachers_no_group" v-if="!isEdited">  
            <!-- v-if="teacherMobile.length == 0" -->
          <div class="teachers_no_group_title"> Нет привязанного устройства </div>
          <div class="teachers_no_group_alert"> Внимание! Доступ к приложению будет доступен только после привязки устройства воспитателя к системе. </div>
        </div>
        <div class="teacher_group_add" v-if="isEdited" @click="addMobile()">
            <div class="teacher_mobile_add_img"></div>
            <div class="teacher_group_add_title">Привязать устройство</div>
        </div>
        <div class="teachers_mobile_popup" v-if="isAdded">
            <div class="teachers_mobile_popup_wrapper">
                <div class="teachers_add_mobile_header">
                    <div class="teachers_add_mobile_title">Привязка нового устройства воспитателя</div>
                    <div class="icon_close" @click="closeMobile()"></div>
                </div>
                <div class="teachers_add_mobile_main">
                    <div class="teachers_add_mobile_main_title">
                        <div class="">Откройте приложение и нажмите на кнопку  “сканировать QR”. <br> Отсканируйте QR код ниже </div>
                    </div>
                    <div class="teachers_qr"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  
  export default {
    name: "teacherMobile",
    props: {
      teacherInfo: Object,
      isEdited: Boolean,
    },
    data() {
      return {
        isAdded: false,
      };
    },
    components: {
    },
    computed: {
      groupNames() {
        return Object.keys(this.teacherInfo.group_names);
      }
    },
    methods: {
        addMobile() {
            this.isAdded = !this.isAdded;
        },
        closeMobile() {
            this.isAdded = false;
        }
    }
  };
  </script>

  <style>
    .teachers_mobile_popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(2px);
    }
    .teachers_mobile_popup_wrapper {
        height: max-content;
        max-height: 100%;
        overflow-y: scroll;
        width: 50vw;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.20);
    }
    .teachers_add_mobile_header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        border-bottom: 1px solid #D9DFE6;
        padding: 0 20px;
    }
    .teacher_group_add_title {
        color: #000;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .teachers_add_mobile_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 50px;
    }
    .teachers_add_mobile_main_title {
        color: var(--text-color, #434656);
        text-align: center;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 50px;
    }
    .teachers_qr {
        width: 300px;
        height: 300px;
        background-image: url(./../../../../public/images/qr.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon_close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(./../../../../public/images/icon_close.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon_three_dots {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url(./../../../../public/images/three_dots_icon.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon_close:hover {
      filter: invert(52%) sepia(86%) saturate(7425%) hue-rotate(349deg) brightness(98%) contrast(111%);
    }
    .teacher_mobile_add_img {
        width: 50px;
        height: 50px;
        border: 1px solid #2EA263;
        background-image: url(./../../../../public/images/icon_add_mobile.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100px;
        margin-right: 10px;
    }
  </style>
  