<template>
  <div id="app">
    <Nav />
    <div class="dashboard_wrapper">
      <div class="model">
        <canvas id="three-canvas"></canvas>
        <div class="panel">
          <div class="btn_panel">
            <div class="mr-3"> 4 этаж </div>
            <i class="fas fa-eye show-icon" v-if="showIconFourth" @click="toggleLayer('4 Floor')"></i>
            <i class="fas fa-eye-slash hide-icon" v-else @click="toggleLayer('4 Floor')"></i>
          </div>
          <div class="btn_panel">
            <div class="mr-3"> 3 этаж </div>
            <i class="fas fa-eye show-icon" v-if="showIconThird" @click="toggleLayer('3 этаж')"></i>
            <i class="fas fa-eye-slash hide-icon" v-else @click="toggleLayer('3 этаж')"></i>
          </div>
          <div class="btn_panel">
            <div class="mr-3"> 2 этаж </div>
            <i class="fas fa-eye show-icon" v-if="showIconSecond" @click="toggleLayer('2 этаж')"></i>
            <i class="fas fa-eye-slash hide-icon" v-else @click="toggleLayer('2 этаж')"></i>
          </div>
          <div class="btn_panel">
            <div class="mr-3"> 1 этаж </div>
            <i class="fas fa-eye show-icon" v-if="showIconFirst" @click="toggleLayer('1 этаж')"></i>
            <i class="fas fa-eye-slash hide-icon" v-else @click="toggleLayer('1 этаж')"></i>
          </div>
          <div class="btn_panel">
            <div class="mr-3"> 0 этаж </div>
            <i class="fas fa-eye show-icon" v-if="showIconZero" @click="toggleLayer('0 Floor')"></i>
            <i class="fas fa-eye-slash hide-icon" v-else @click="toggleLayer('0 Floor')"></i>
          </div>
          <div class="panel_tarif">
            <div class="panel_color_dark_green"> </div>
            <div class="panel_text"> Тариф > 50 000 тг</div>
          </div>
          <div class="panel_tarif">
            <div class="panel_color_green"> </div>
            <div class="panel_text"> Тариф > 30 000 тг</div>
          </div>
          <div class="panel_tarif">
            <div class="panel_color_light_green"> </div>
            <div class="panel_text"> Тариф > 20 000 тг</div>
          </div>
          <div class="panel_tarif">
            <div class="panel_color_yellow"> </div>
            <div class="panel_text"> Тариф > 10 000 тг</div>
          </div>
          <div class="panel_tarif">
            <div class="panel_color_orange"> </div>
            <div class="panel_text"> Тариф > 5 000 тг</div>
          </div>
          <div class="panel_tarif">
            <div class="panel_color_red"> </div>
            <div class="panel_text"> Тариф < 5 000 тг</div>
          </div>
        </div>
        <div class="right_wrapper">
          <div class="mb-2">
            <button class="btn btn-light" @click="loadScene('Sputnik100')"> Sputnik </button>
            <button class="btn btn-light" @click="loadScene('Carcity')"> Carcity </button>
          </div>

          <div class="flex justify-content-space-between mb-2">
            <button class="btn btn-info" @click="showRooms('0 этаж')"> 0 этаж </button>
            <button class="btn btn-info" @click="showRooms('1 этаж' )"> 1 этаж </button>
            <button class="btn btn-info" @click="showRooms('2 этаж' )"> 2 этаж </button>
            <button class="btn btn-info" @click="showRooms('3 этаж' )"> 3 этаж </button>
            <button class="btn btn-info" @click="showRooms('4 Floor')"> 4 этаж </button>
            <b-form-input type="text" v-model="searchBoutique" class="search_input" placeholder="Поиск по бутику..."></b-form-input>
          </div>

          <div class="room_data mb-2 room_list" v-if="roomsOnSelectedFloor.length != 0">
            <button class="btn btn-success m-1" v-for="(roomName, index) in roomsOnSelectedFloor" :key="index" @click="showObject(roomName)"> {{ roomName }} </button>
          </div>

          <div class="room_data mb-2" v-if="selectedRoom.uid && !searchBoutique">
            <div class="">
              <div class="mb-3"> #: {{ selectedRoom.uid }} </div>
              <div class="mb-3"> Этаж: {{ selectedRoom.floor }} </div>
              <div class="mb-3"> Компания: {{ selectedRoom.company }} </div>
              <div class="mb-3"> Выбранный объект: {{ selectedRoom.brand }} </div>
              <div class="mb-3"> Площадь: {{ (selectedRoom.area).toLocaleString() }} м2 </div>
              <div class="mb-3"> Доход по Бух.: {{ (selectedRoom.income_from_doc).toLocaleString() }} </div>
              <div class="mb-3"> Обороты: {{ (selectedRoom.frequency).toLocaleString() }} </div>
              <div class="mb-3"> Посещение, чел: {{ (selectedRoom.attendance).toLocaleString() }} </div>
              <div class="mb-3"> Нагрузка аренды: {{ (selectedRoom.rent_capacity).toLocaleString() }} % </div>
              <div class="mb-3"> Оплата за 1 м2: {{ (selectedRoom.pay_to_one).toLocaleString() }} </div>
            </div>
          </div>
          <div class="room_data tarify_parameter mb-2" v-if="selectedRoom.uid && !searchBoutique">
            <div class="">
              <div> Текущий тариф:  </div>
              <input type="text" placeholder="Введите тариф" v-model="selectedRoom.rent" disabled>
            </div>
            <div class="">
              <div> Изменный тариф: </div>
              <input type="text" placeholder="Введите тариф" v-model="editedTarif">
            </div>
            <button class="btn btn-success" type="button"> Изменить тариф</button>
          </div>
          <div class="room_data" v-if="selectedRoom.uid && !searchBoutique">
            <div class="btn btn-primary"> PNL таблица</div>
            <div class="btn btn-primary"> Исторические данные по тарифам</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as THREE from 'three';
import { CSS3DRenderer } from 'three/addons/renderers/CSS3DRenderer.js';
import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
import { TextGeometry } from 'three/examples/jsm/geometries/TextGeometry.js';
import { FontLoader } from 'three/addons/loaders/FontLoader.js';
import Nav from "../../components/Nav";
import { BFormInput } from 'bootstrap-vue';
import { all } from 'axios';

export default {
  components: {
    Nav,
    BFormInput
  },
  data() {
    return {
      self: '',
      scene: '',
      camera: '',
      renderer: '',
      searchBoutique: '',
      fileInfo: null,
      selectedRoom: {},
      selectedTarif: 10000,
      model: null,
      editedTarif: null,
      objectProperties: {},
      cameraYLimit: {
        min: 0,
        max: 1400
      },
      showIconFourth: true,
      showIconThird: true,
      showIconSecond: true,
      showIconFirst: true,
      showIconZero: true,
      roomsOnSelectedFloor: [],
      allBoutiquesData: {},
      filteredBoutiques: {}
    };
  },
  watch: {
    "searchBoutique": function() {
      this.searchInBoutiques();
    }
  },
  async mounted() {
    await this.getAllBoutiquesData();
    await this.loadScene('Sputnik100');
  },
  methods: {
    searchInBoutiques(){
      let filteredBoutiques = this.allBoutiquesData.filter( boutique => (boutique.name).toLowerCase().includes(this.searchBoutique.toLowerCase()));
      this.roomsOnSelectedFloor = filteredBoutiques.map( boutique => boutique.name);
      // this.removeTextObjects();
    },
    async loadScene(model) {
      const self = this;
      const scene = new THREE.Scene();
      const size = {
        width: 1000,
        height: 800,
      };
      
      const aspect = 1000 / 800;
      const camera = new THREE.PerspectiveCamera(
        75, 
        // window.innerWidth / window.innerHeight,
        aspect,
        0.25,
        1000 
      );
      this.camera = camera;
      camera.near = 10;
      camera.updateProjectionMatrix();
      camera.position.z = 195;
      camera.position.y = 53;
      camera.position.x = 184;
      
      const lightColor = 0xffffff;
      
      const ambientLight = new THREE.AmbientLight(lightColor, 0.5);
      scene.add(ambientLight);
      
      const directionalLight = new THREE.DirectionalLight(lightColor, 1);
      directionalLight.position.set(30, 30, 30);
      directionalLight.target.position.set(0, 10, 0);
      scene.add(directionalLight);
      scene.add(directionalLight.target);
      scene.background = new THREE.Color(0xd6d6d6);
      
      const grid = new THREE.GridHelper(0, 0);
      scene.add(grid);
      
      const threeCanvas = document.getElementById('three-canvas');
                
      if (threeCanvas) {
        const renderer = new THREE.WebGLRenderer({
          canvas: threeCanvas,
          logarithmicDepthBuffer: true,
          alpha: true,
        });
        this.renderer = renderer;
        renderer.setSize(size.width, size.height);
        renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
        
        const controls = new OrbitControls(camera, threeCanvas);
        controls.enableDamping = true;
        controls.target.set(-2, 0, 0);

        const animate = () => {
          controls.update();
          if (camera.position.y < this.cameraYLimit.min) {
            camera.position.y = this.cameraYLimit.min;
          } else if (camera.position.y > this.cameraYLimit.max) {
            camera.position.y = this.cameraYLimit.max;
          }
          renderer.render(scene, camera);
          requestAnimationFrame(animate);
        };
      
        animate();
              
        const loader = new GLTFLoader();

        this.self = self;
        this.scene = scene;

        loader.load(
          model + ".gltf",
          function (gltf) {
            const model = gltf.scene;
            self.model = model;
  
            const bbox = new THREE.Box3().setFromObject(model);
            const center = bbox.getCenter(new THREE.Vector3());
            const directionalLights = [
              new THREE.DirectionalLight(0xffffff, 1),
              new THREE.DirectionalLight(0xffffff, 1),
              new THREE.DirectionalLight(0xffffff, 1),
              new THREE.DirectionalLight(0xffffff, 1),
            ];

            directionalLights[0].position.set(0, 0, 1);
            directionalLights[1].position.set(0, 0, -1);
            directionalLights[2].position.set(-1, 0, 0);
            directionalLights[3].position.set(1, 0, 0);
            directionalLights.forEach((light) => scene.add(light));

            model.position.sub(center);
            scene.add(model);
            
            var sharedMaterial;

            model.traverse((child) => {
              self.allBoutiquesData.forEach(boutique => {
                if(boutique.uid == child.userData.Numb || boutique.uid == child.userData.Number) {
                  if (!sharedMaterial) {
                    sharedMaterial = child.material;
                  }
                  if (child.material === sharedMaterial) {
                    child.material = child.material.clone();
                  }
                  child.material.depthWrite = false;
                  child.material.color.setHex(boutique.hex);
                }
              })
            });

            scene.add(gltf.scene)
          },
          (xhr) => {
            console.log((xhr.loaded / xhr.total) * 100 + '% loaded')
          },
          (error) => {
            console.log('error')
            console.log(error)
          }
        )
      }
    },
    async showObject(roomName) {
      if (!this.model) return;
      this.removeTextObjects();
      this.searchBoutique = '';
      var sharedMaterial;
      let childPosition;
      let childId;

      this.model.traverse((child) => {

          if (child.userData.Name === roomName || child.userData.name === roomName) {
            let floor = child.userData.Floor;

            if (child.userData.Numb) {
              childId = child.userData.Numb;
            } else if (child.userData.Number) {
              childId = child.userData.Number;
            }

            this.model.traverse((children) => {
              if ( children.userData.Floor && children.userData.Floor != floor) {

                if (children.userData.Floor == '4 Floor') {
                  this.showIconFourth = false;
                } else if (children.userData.Floor == '3 этаж') {
                  this.showIconThird = false;
                } else if (children.userData.Floor == '2 этаж') {
                  this.showIconSecond = false;
                } else if (children.userData.Floor == '1 этаж') {
                  this.showIconFirst = false;
                } else if (children.userData.Floor == '0 Floor') {
                  this.showIconZero = false;
                }

                children.visible = false;
              } else if (children.userData.Floor == floor) {

                if (children.userData.Floor == '4 Floor') {
                  this.showIconFourth = true;
                } else if (children.userData.Floor == '3 этаж') {
                  this.showIconThird = true;
                } else if (children.userData.Floor == '2 этаж') {
                  this.showIconSecond = true;
                } else if (children.userData.Floor == '1 этаж') {
                  this.showIconFirst = true;
                } else if (children.userData.Floor == '0 Floor') {
                  this.showIconZero = true;
                }

                children.visible = true;
              }
            });

            if (!sharedMaterial) {
              sharedMaterial = child.material;
            }
            if (child.material === sharedMaterial) {
              child.material = child.material.clone();
            }

            child.material.color.setHex(0x0000ff);
            childPosition = child.position;
          }
      });

      await this.getBoutiqueData(childId);

      let brand = this.selectedRoom.brand;
      let area  = this.selectedRoom.area;
      let rent  = this.selectedRoom.pay_to_one;
      
      this.createText(brand, {
        x: childPosition.x,
        y: childPosition.y + 5,
        z: childPosition.z
      });
      this.createText('Площадь: ' + area + ' м2', {
        x: childPosition.x,
        y: childPosition.y + 2,
        z: childPosition.z
      });
      this.createText('Аренда: '+ rent, {
        x: childPosition.x,
        y: childPosition.y - 1,
        z: childPosition.z
      });
      this.roomsOnSelectedFloor = [];
    },
    toggleLayer(layerName) {
      this.removeTextObjects();
      if (!this.model) return;

      if (layerName == '4 Floor') {
        this.showIconFourth = !this.showIconFourth;
      } else if (layerName == '3 этаж') {
        this.showIconThird = !this.showIconThird;
      } else if (layerName == '2 этаж') {
        this.showIconSecond = !this.showIconSecond;
      } else if (layerName == '1 этаж') {
        this.showIconFirst = !this.showIconFirst;
      } else if (layerName == '0 Floor') {
        this.showIconZero = !this.showIconZero;
      }

      this.model.traverse((child) => {
        if (child.userData.Floor === layerName) {
          child.visible = !child.visible;
        }
      });
    },
    async showRooms(floor) {
      this.removeTextObjects();

      var sharedMaterial;
      let allBoutiques = await this.getAllBoutiquesData();

      this.model.traverse((child) => {
        allBoutiques.forEach(boutique => {
          if(boutique.uid == child.userData.Numb || boutique.uid == child.userData.Number) {
            if (!sharedMaterial) {
              sharedMaterial = child.material;
            }
            if (child.material === sharedMaterial) {
              child.material = child.material.clone();
            }
            
            child.material.color.setHex(boutique.hex);
          }
        })
      });

      this.roomsOnSelectedFloor = [];
      this.selectedRoom = {};

      if (floor == '0 этаж') floor = '0 Floor';
      if (floor == '4 этаж') floor = '4 Floor';

      this.model.traverse((child) => {
        if (child.userData.Floor === floor) {
          if (child.userData.name != undefined 
              && !child.name.includes('Object') 
              && !child.name.includes('одеж') 
              && !child.name.includes('Floor') 
              && !child.name.includes('кондит')
              && !child.name.includes('ПД')
              && !child.name.includes('Jolly')
              && !child.name.includes('Procoffeevna')
              && !child.name.includes('Alberto')
              && !child.name.includes('Радикюль')
              && !child.name.includes('Fashion')
              && !child.name.includes('Never')
              && !child.name.includes('ASIA')
              && !child.name.includes('Cube')
              && !child.name.includes('Verny')
              && !child.name.includes('Korean')
              && !child.name.includes('Pizza')
              && !child.name.includes('Almaty')
              && !child.name.includes('Вакантный')
              && !child.name.includes('лоткам')
              && !child.name.includes('Антенна')
              && !child.name.includes('Склад')
             ) {
            if (child.userData.Name) {
              this.roomsOnSelectedFloor.push(child.userData.Name);
            } else if (child.userData.name) {
              this.roomsOnSelectedFloor.push(child.userData.name);
            }
          }
        }
      });
    },
    createText(text, position) {
      const self = this;
      const loader = new FontLoader(); 
      const fontPath = './roboto.json'; 

      let textGeometry;

      loader.load(fontPath, function(font) {
        const textOptions = {
          font: font,
          size: 2,
          height: 1,
        };
      
        textGeometry = new TextGeometry(text, textOptions);
        const textMaterial = new THREE.MeshBasicMaterial({ color: 0xffffff });
        const textMesh = new THREE.Mesh(textGeometry, textMaterial);
      
        textMesh.position.set(position.x, position.y, position.z);
        textMesh.rotation.x = Math.PI * 2;
        textMesh.rotation.y = Math.PI * 2;
        textMesh.rotation.z = Math.PI * 2;
        textMesh.name = 'text_'
        textMesh.material.color.setHex('#000');

        const update = () => {
            textMesh.lookAt(self.camera.position);
        };

        const render = () => {
            update();
            self.renderer.render(self.scene, self.camera);
            requestAnimationFrame(render);
        };
      
        render();

        const textGroup = new THREE.Group();
        textGroup.add(textMesh);
      
        self.scene.add(textGroup); 
      });
    },
    removeTextObjects() {
      const textObjects = [];

      this.scene.traverse(obj => {
        if (obj.isMesh && obj.type === 'Mesh' && obj.name.startsWith('text_')) {
          textObjects.push(obj);
        }
      });

      textObjects.forEach(textObj => {
        textObj.visible = false;
        this.scene.remove(textObj);
        textObj.geometry.dispose();
        textObj.material.dispose();
      });

      var sharedMaterial;

      // this.model.traverse((child) => {
      //   if (child.material) {

      //     if (!sharedMaterial) {
      //       sharedMaterial = child.material;
      //     }
      //     if (child.material === sharedMaterial) {
      //       child.material = child.material.clone();
      //     }
          
      //     child.material.color.setHex(boutique.hex);
      //   }
      // });

    },
    async getBoutiqueData(uid) {
      // console.log(uid);
      let data = await axios.get(window.location.origin + '/get-boutique-data?uid=' + uid);
      this.selectedRoom = data.data;
    },
    async getAllBoutiquesData() {
      let data = await axios.get(window.location.origin + '/get-all-boutiques-data');
      this.allBoutiquesData = data.data;
      return data.data;
    }
  },
};
</script>
      
<style>
.search_input {
  width: auto;
}
.panel_tarif {
  width: 100%;
  display: flex;
  justify-content: start;
  align-content: start;
  align-items: center;
}
.panel_text {
  font-size: 10px;
  color: white;
}
.panel_color_dark_green {
  width: 10px;
  height: 10px; margin-right: 5px;
  background-color: #004d00;
}
.panel_color_green {
  width: 10px;
  height: 10px; margin-right: 5px;
  background-color: #008000;
}
.panel_color_light_green {
  width: 10px;
  height: 10px; margin-right: 5px;
  background-color: #00FF00;
}
.panel_color_yellow {
  width: 10px;
  height: 10px; margin-right: 5px;
  background-color: #FFFF00;
}
.panel_color_orange {
  width: 10px;
  height: 10px; margin-right: 5px;
  background-color: #FFA500;
}
.panel_color_red {
  width: 10px;
  height: 10px; margin-right: 5px;
  background-color: #FF0000;
}
#three-canvas {
  border: 1px solid gray;
  border-radius: 5px;
}
.room_data {
  background: #e0dcdc;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.room_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.show-icon {
  cursor: pointer;
}
.hide-icon {
  cursor: pointer;
}
.dashboard_wrapper {
  position: relative;
}
.table {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 588px;
  margin: 40px auto;
  background: #e0dcdc;
}
.model {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 40px auto;
}
.panel {
  position: absolute;
  width: 130px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #898787;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.btn_panel {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  /* color: #e0dcdc; */
  padding: 4px;
  background: #898787;
  border-radius: 5px;
  border: none;
  margin-bottom: 2px;
}
.right_wrapper {
  width: calc(96% - 1000px);
}
.tarify_parameter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

</style>